/****************Preparatory works***************/

/*******reset******/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
}

/******end reset*****/

/******************General**************************/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

/*******************Typography*********************/

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

/*button*/

.view-more {
  margin-left: auto;
  color: #fff;
  background: #4493a7;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
}

.view-more:hover {
  background: #f1715e;
}

/*********************header***********************/

.page-head {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.page-head::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../img/bg-header.jpg") no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***********NAV TOGGLE**************/

.nav-toggle {
  background: #111;
  display: block;
}

.toggle {
  cursor: pointer;
  display: block;
  padding: 28px 20px;
  width: 68px;
  margin-left: auto;
}

.toggle .click {
  transition: opacity 0.05s 0.1s, transform 0.1s 0.1s, top 0.1s 0.2s;
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 8px;
}

.toggle .click:first-child {
  position: relative;
  top: -5px;
}

.toggle .click:last-child {
  position: relative;
  top: 5px;
}

.toggle .close {
  transition: opacity 0.05s 0.1s, transform 0.1s 0.2s, top 0.1s 0.1s;
}

.toggle .close:nth-child(2) {
  opacity: 0;
}

.toggle .close:first-child {
  top: 0px;
  transform: skewY(45deg);
}

.toggle .close:last-child {
  top: -6px;
  transform: skewY(-45deg);
}

/***********END NAV TOGGLE**************/

.head {
  display: none;
  flex-direction: column;
  text-align: center;
  background: #000;
}

.logo {
  flex-basis: calc(25% - 0px);
}

.logo a {
  display: inline-block;
  padding: 30px 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.logo h3 {
  text-align: center;
}

.menu-side {
  flex-basis: calc(25% - 0px);
}

.menu-side ul {
  display: flex;
  flex-direction: column;
}

.menu-side ul li {
  margin-bottom: 14px;
}

.menu-side ul li:last-child {
  margin-bottom: 28px;
}

.menu-side a {
  font-size: 16px;
  font-weight: 700;
}

.slog {
  color: #fff;
  margin: 6em auto;
  text-align: center;
}

.slog h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 0.8em 0;
}

.slog h1 strong {
  font-weight: 700;
}

.slog span {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0 auto;
  max-width: 350px;
  font-weight: lighter;
}

/***********ANIMATION ARROWW**************/

.arrow{
  text-align: center;
}
.arrow-down{
  transition: fill 0.1s 0.1s; 
  cursor: pointer;
  fill:#fff;
  position: relative;
  animation-name:'jump';
  animation-duration:2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name:'jump';
  -webkit-animation-duration:2s;
  -ms-animation-name:'jump';
  -ms-animation-iteration-count: infinite;
  -ms-animation-duration:2s;
}
  .arrow-down:hover{
    fill:#999;
}
@-webkit-keyframes 'jump' {
    from {
  bottom:0px;
    }
    50%{
      bottom: 10px;
    }

    100%{
      bottom: -10px;
    }
    to {
  bottom: 0px;
    } 
}
@-ms-keyframes 'jump' {
    from {
  bottom:0px;
    }
    50%{
      bottom: 10px;
    }

    100%{
      bottom: -10px;
    }
    to {
  bottom: 0px;
    } 
}

/***********END ANIMATION ARROWW**************/

/***********main**************/

article {
  padding: 60px 20px;
  text-align: center;
}

.article-logo,
.advantages h3,
.proposals-content h3 {
  font-weight: 700;
  font-size: 42px;
  margin: 1em 0;
}

.article-text,
.advantages p,
.step p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
  margin: 0 auto;
  max-width: 700px;
}

.why-we,
.actions {
  background: #eee;
}

.advantages {
  margin-top: 55px;
  flex-basis: calc(66.66667% - 0px);
}

.advantages h3 {
  font-size: 22px;
}

.advantages p {
  font-size: 16px;
}

.advantages img {
  max-width: 32%;
}

/*****************services****************/

.proposals {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  width: calc(100% - 0px);
}

.proposals-content h3 {
  font-size: 24px;
}

.proposals-content p {
  font-weight: 700;
  font-size: 16px;
  margin: 12px 0;
}

.proposals-content ul {
  display: flex;
  flex-direction: column;
}

.proposals-content ul .avaliable,
.proposals-content ul .unavailable {
  width: calc(50% - 24px);
  padding-left: 26px;
  margin-bottom: 12px;
  background: url("../img/avaliable.png") 0px -4px no-repeat;
}

.proposals-content ul .unavailable {
  background: url("../img/unavaliable.png") 0px -4px no-repeat;
}

/****************action******************/

.actions .article-logo,
.actions .advantages h3,
.advantages .actions h3,
.actions .proposals-content h3,
.proposals-content .actions h3 {
  font-size: 30px;
}

.step {
  display: flex;
  text-align: left;
  margin: 30px auto 0;
}

.step div {
  margin-left: 24px;
}

.step h3 {
  margin: 1em 0;
  font-weight: 700;
  font-size: 16px;
}

.step p {
  font-size: 14px;
}

/************contact**************/

.contact {
  background: #222;
  padding: 30px 0 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form form {
  flex-basis: calc(100% - 0px);
  order: 1;
  text-align: left;
}

.contact-form form fieldset {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0 2% 16px 5%;
  width: calc(41.66667% - 3px);
}

.contact-form form fieldset:nth-child(3) {
  display: block;
  width: calc(91.66667% - 12px);
  margin: 0 auto 16px;
}

.contact-form form .view-more {
  margin-left: 5%;
}

.contact-info {
  flex-basis: calc(100% - 0px);
}

.contact-info h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
}

.contact-info a {
  display: block;
  font-size: 28px;
  font-weight: lighter;
}

.contact-info .social-link {
  margin: 30px 2px;
  display: inline-block;
}

.contact-info .social-link svg {
  width: 48px;
  height: 48px;
}

.forms-contact {
  padding: 0 22px;
}

.form-labels label {
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.req {
  color: #E74C3C;
}

.input-form input,
.input-form textarea {
  width: 100%;
  background: #f3f2ed;
  border: 0;
  padding: 5px 10px;
}

.input-form textarea {
  height: 72px;
}

.input-form input:focus,
.input-form textarea:focus {
  background: #fff;
  border: 1px solid #989999;
  padding: 4px 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*******************FOOTER*****************/

footer {
  background: #111;
  text-align: center;
  color: #9d9d9d;
  padding: 24px 0 0;
}

footer p {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 24px;
}

@media (min-width: 480px) {
  .proposals-content ul {
    flex-wrap: wrap;
    max-height: 400px;
  }
}

@media (min-width: 560px) {
  .slog h1 {
    font-size: 68px;
  }

  .slog span {
    max-width: 500px;
    font-size: 22px;
    line-height: 1.5;
  }

  .article-text,
  .advantages p,
  .step p {
    font-size: 22px;
  }

  .proposals {
    width: calc(75% - 0px);
  }

  .actions .article-logo,
  .actions .advantages h3,
  .advantages .actions h3,
  .actions .proposals-content h3,
  .proposals-content .actions h3 {
    font-size: 42px;
  }

  .step {
    max-width: 700px;
  }

  .step h3 {
    font-size: 20px;
  }

  .step p {
    font-size: 18px;
  }

  .contact-form form {
    flex-basis: calc(50% - 20px);
  }

  .contact-info {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 780px) {
  .contact-form {
    flex-direction: row;
  }

  .contact-form form {
    order: 0;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 42px 0;
    width: 90%;
  }

  .nav-toggle {
    display: none;
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
  }

  .logo a {
    padding: 0;
  }

  .logo h3 {
    text-align: left;
  }

  .menu-side ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-side ul li {
    margin: 0;
  }

  .advantages {
    flex-basis: calc(33.33333% - 30px);
  }

  .proposals {
    width: calc(50% - 30px);
  }
}