@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  font-size: 16px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
em,
strong {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.container {
  max-width: 855px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 70px 22px;
}
.page-content{
  margin: 90px 0px 60px;
}
.title-page{
  color: #2B5DD8;
  font-size: 25px;
  font-weight: bold;
  max-width: 756px;
}
.page-content .img-page{
    margin: 50px 0px;
}
.page-content img{
    width: 100%;
    height: auto;
}
.page-content p{
  max-width: 580px;
  margin: auto;
}

footer{
  color: #2B5DD8;
}

@media screen and (min-width: 480px){
  .title-page{
    font-size: 35px;
  }
}
@media screen and (min-width: 640px){
  .title-page{
    font-size: 45px;
  }
}