/****************Preparatory works***************/
/**************** */
/*Colors
	#CFC3BC - gray
	#003A5D - blue
	#FF8D6B - orange
	#A1C6D4 - lite-blue
	#786E64 - dark-gray*/
/************************************************************/
/*General*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  background: #FFF;
  font-family: Montserrat, serif;
  font-size: 14px;
  color: #786E64; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #786E64; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle; }

fieldset {
  border: none;
  margin: 24px 0; }

label {
  cursor: pointer; }

.wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

.wrap-max {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0; }

/****************preloder*************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

.loader {
  width: 200px;
  height: 200px;
  opacity: 0;
  background: url("../img/logo.png") center center no-repeat;
  -webkit-background-size: 70%;
  -o-background-size: 70%;
  background-size: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: 1s vision infinite;
  -moz-animation: 1s vision infinite;
  -o-animation: 1s vision infinite;
  animation: 1s vision infinite; }

/*header*/
.social-links {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 999; }
  .social-links li {
    margin-bottom: 20px; }

.fixed-link {
  padding: 10px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #A1C6D4;
  margin-bottom: 20px; }

.socicon-facebook {
  color: #3e5b98; }

.socicon-twitter {
  color: #4da7de; }

.socicon-youtube {
  color: #e02a20; }

.logo-page {
  text-transform: uppercase;
  font-size: 24px;
  background: url("../img/logo.png") 0px 3px no-repeat;
  -webkit-background-size: 32px;
  -o-background-size: 32px;
  background-size: 32px;
  padding: 8px 0px 8px 40px; }

.private-sale {
  text-align: left; }
  @media screen and (min-width: 1100px) {
    .private-sale {
      margin-top: 4px;
      text-align: right; } }

.flash {
  font-size: 18px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  padding: 2px 8px;
  animation: flash infinite ease-in-out;
  animation-duration: 2s; }

/*******navbar*********/
.page-navbar {
  width: 100%;
  padding: 35px;
  border-bottom: 1px solid #CFC3BC; }

.toggle-navbar {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: -100%;
  padding: 20px;
  z-index: 10000;
  background: #000;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 480px) {
    .toggle-navbar {
      width: 60%; } }
  @media screen and (min-width: 1100px) {
    .toggle-navbar {
      position: static;
      width: 100%;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      z-index: none;
      background: none; } }

.open-nav {
  left: 0%; }

.navigation {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .navigation li {
    margin-bottom: 10px; }
  @media screen and (min-width: 1100px) {
    .navigation {
      margin: 6px 0;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navigation li {
        margin-bottom: 0; } }

.nav-item {
  position: relative;
  display: block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .nav-item:before {
    content: ' ';
    width: 40px;
    height: 40px;
    margin: -10px 4px 0px 0px;
    display: block;
    float: left;
    color: #FF8D6B;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: url("../img/coin.png") center center no-repeat;
    -webkit-background-size: 80px;
    -o-background-size: 80px;
    background-size: 80px;
    opacity: 0; }
  .nav-item:hover {
    color: #FF8D6B; }
    .nav-item:hover:before {
      opacity: 1; }

.active {
  color: #FF8D6B; }
  .active:before {
    opacity: 1; }

.nav-toggle {
  display: block;
  border-radius: 4px;
  width: 50px;
  height: 21px;
  position: relative;
  left: 0%;
  cursor: pointer;
  padding: 4px;
  -webkit-align-self: center;
  align-self: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 1100px) {
    .nav-toggle {
      display: none; } }
  .nav-toggle i {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    border-radius: 2px;
    background: #fff; }
    .nav-toggle i:first-child {
      width: 33%;
      border: 0.2px solid #000; }
    .nav-toggle i:nth-child(2) {
      top: 4px;
      width: 66%;
      border: 0.2px solid #000; }
    .nav-toggle i:last-child {
      top: 8px;
      border: 0.2px solid #000; }

.open-toggle {
  left: 90%; }
  @media screen and (min-width: 480px) {
    .open-toggle {
      left: 70%; } }
  .open-toggle i {
    -webkit-transition: width 0.2s 0.2s, transform 0.3s 0.3s, opacity 0.1s 0.1s, top 0.4s 0.4s;
    -moz-transition: width 0.2s 0.2s, transform 0.3s 0.3s, opacity 0.1s 0.1s, top 0.4s 0.4s;
    -ms-transition: width 0.2s 0.2s, transform 0.3s 0.3s, opacity 0.1s 0.1s, top 0.4s 0.4s;
    -o-transition: width 0.2s 0.2s, transform 0.3s 0.3s, opacity 0.1s 0.1s, top 0.4s 0.4s;
    transition: width 0.2s 0.2s, transform 0.3s 0.3s, opacity 0.1s 0.1s, top 0.4s 0.4s; }
    .open-toggle i:first-child {
      top: 4px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 70%;
      border: 0.2px solid; }
    .open-toggle i:nth-child(2) {
      opacity: 0; }
    .open-toggle i:last-child {
      top: 2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 70%;
      border: 0.2px solid; }

.dropdown {
  position: relative; }

.list-language {
  position: absolute;
  display: none;
  background: #FFF;
  width: 80px;
  top: 22px;
  left: 44px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.language {
  background: url("../img/usa-flag.jpg") 8px no-repeat;
  -webkit-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
  padding: 4px 4px 4px 30px;
  display: block; }
  .language:hover {
    color: #FF8D6B; }

/*********body-header********/
.body-header {
  position: relative;
  overflow: visible;
  margin: 50px auto; }

.body-item {
  flex-basis: calc(100% - 0px);
  padding: 10px;
  margin: 16px 0px; }
  @media screen and (min-width: 780px) {
    .body-item {
      flex-basis: calc(50% - 20px); } }

.city-animate {
  position: relative;
  overflow: hidden; }

.menu-tab {
  width: 80%;
  margin: 0 auto; }
  @media screen and (min-width: 780px) {
    .menu-tab {
      margin-top: 50px; } }

.menu-logo {
  font-size: 24px; }
  .menu-logo strong {
    font-size: 36px;
    color: #FF8D6B; }
  @media screen and (min-width: 960px) {
    .menu-logo {
      text-align: center; } }

.menu-tab-text {
  font-size: 16px;
  margin: 20px 0;
  color: #CFC3BC;
  font-weight: lighter; }

.block-btn {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 960px) {
    .block-btn {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

.btn-menu {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }
  @media screen and (min-width: 960px) {
    .btn-menu {
      width: 45%; } }

.btn {
  padding: 10px;
  border: 1px solid;
  -webkit-border-radius: 30px;
  border-radius: 30px; }

/****************platform section**************/
.menu-section {
  margin: 40px auto 0px; }

.section-logo-block {
  text-align: center; }

.platform {
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
  border-top: 2px solid #5c6783; }

.wrap-platform {
  padding: 40px; }

.section-logo {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase; }
  .section-logo::before {
    content: '';
    position: relative;
    float: left;
    display: block;
    width: 15px;
    height: 1px;
    border: .1px solid;
    top: 16px;
    margin-right: 6px; }
  .section-logo::after {
    content: '';
    position: relative;
    float: right;
    display: block;
    width: 15px;
    height: 1px;
    border: .1px solid;
    top: 16px;
    margin-left: 6px; }
  @media screen and (min-width: 480px) {
    .section-logo {
      font-size: 28px; }
      .section-logo::before {
        width: 55px; }
      .section-logo::after {
        width: 55px; } }

.discriptions {
  margin: 20px 0; }

.platform-discriptions {
  flex-basis: calc(100% - 0px);
  margin: 16px 0px; }
  @media screen and (min-width: 960px) {
    .platform-discriptions {
      flex-basis: calc(50% - 24px); } }

.platform-logo {
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 0 18px; }

.platform-text {
  line-height: 24px; }

.exchange-animation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  border-bottom: 2px solid #5c6783; }

.exchange-animation-cloud-1 {
  position: absolute;
  width: 82px;
  left: 5%; }

.exchange-animation-cloud-3 {
  position: absolute;
  width: 82px;
  left: 5%;
  top: 5%; }

.exchange-animation-cloud-5 {
  position: absolute;
  width: 82px;
  right: 5%;
  top: 35%; }

.exchange-animation-cloud-2 {
  position: absolute;
  top: 50px;
  right: 5%;
  width: 50px; }

.exchange-animation-cloud-4 {
  position: absolute;
  top: 50px;
  right: 5%;
  width: 50px; }

.exchange-animation-cloud-6 {
  position: absolute;
  top: 30%;
  right: 25%;
  width: 50px; }

.exchange-animation-build-1 {
  position: absolute;
  right: 15%;
  bottom: -2px;
  width: 110px; }

.exchange-winmill {
  position: absolute;
  left: 4%;
  bottom: -2px;
  z-index: 3;
  width: 100px;
  height: 200px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.windmill-base {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto; }

.windmill-blade {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 115px;
  width: 100px;
  -webkit-transform-origin: 50% 50% 0%;
  -moz-transform-origin: 50% 50% 0%;
  -ms-transform-origin: 50% 50% 0%;
  -o-transform-origin: 50% 50% 0%;
  transform-origin: 50% 50% 0%; }

/************token sale***************/
.token-sale {
  padding: 40px 0 200px;
  background: #A1C6D4;
  position: relative; }

.ambasador-clouds {
  position: absolute;
  z-index: 2;
  bottom: 150px;
  width: 100%;
  height: 70px;
  background: url("../img/clouds-b.png") 0 0 repeat-x;
  -webkit-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }

.sky-move {
  -webkit-animation: sky-move infinite linear;
  -moz-animation: sky-move infinite linear;
  animation: sky-move infinite linear;
  animation-fill-mode: forwards; }

.exchange-animation-build-2 {
  position: absolute;
  bottom: -2px;
  z-index: 2;
  width: 170px;
  right: 20%;
  display: none; }
  @media screen and (min-width: 960px) {
    .exchange-animation-build-2 {
      display: block; } }

.exchange-animation-bridge {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  z-index: 4;
  width: 155px;
  margin: auto; }

.exchange-train {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 30px;
  z-index: 3; }

.exchange-animation-train {
  height: 30px; }

.train-move {
  -webkit-animation: train-move infinite linear;
  -moz-animation: train-move infinite linear;
  animation: train-move infinite linear;
  animation-fill-mode: forwards; }

.sale-section {
  left: 25%;
  display: none; }
  @media screen and (min-width: 560px) {
    .sale-section {
      display: block; } }

.circle-disc {
  width: 190px;
  margin: 0px auto 18px;
  font-size: 12px; }

.circle-disc-token {
  padding-left: 12px; }
  .circle-disc-token::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 1px 4px 0px 0px; }

.orange-circle::before {
  background: #FF8D6B; }

.black-circle::before {
  background: #000; }

.gray-circle::before {
  background: #CFC3BC; }

.token-circle {
  position: relative; }

.parcent {
  position: absolute; }

.parcent-1 {
  top: 45%;
  right: 50px; }
  @media screen and (min-width: 560px) {
    .parcent-1 {
      right: 85px; } }

.parcent-2 {
  top: 25%;
  left: 80px; }
  @media screen and (min-width: 560px) {
    .parcent-2 {
      left: 115px; } }

.parcent-3 {
  top: 50%;
  left: 60px; }
  @media screen and (min-width: 560px) {
    .parcent-3 {
      left: 85px; } }

.circle {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 22px solid;
  border-bottom-color: #FF8D6B;
  border-right-color: #FF8D6B;
  border-left-color: #000;
  border-top-color: #CFC3BC;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.percent-disc {
  line-height: 30px; }

/************roadmap****************/
.roadmap-img {
  text-align: center;
  margin: 24px 0px; }

/************team****************/
.list-team {
  margin: 40px 0; }

.teamer {
  margin: 24px 0;
  text-align: center;
  width: calc(100% - 0); }
  @media screen and (min-width: 780px) {
    .teamer {
      width: calc(50% - 16px); } }
  @media screen and (min-width: 1100px) {
    .teamer {
      width: calc(33.33333% - 16px); } }

.foto-teamer {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.teamer-name {
  font-size: 28px;
  margin: 14px 0;
  font-weight: bold; }

.teamer-disc {
  font-size: 22px; }

/****************footer*******************/
.footer {
  background: #786E64;
  text-align: center;
  padding: 50px;
  color: #fff; }

/************animation-img****************/
.animation-img {
  position: relative;
  bottom: 30px;
  right: 30px;
  z-index: 20;
  width: 620px;
  height: 505px; }
  .animation-img img {
    position: absolute;
    display: inline-block; }

.animation-bridge {
  left: 195px;
  bottom: 94px;
  width: 200px;
  z-index: 2; }

.animation-boat {
  left: 250px;
  bottom: 76px;
  width: 50px;
  z-index: 2; }

.animation-bg {
  left: -58px;
  top: 50px;
  z-index: 0;
  width: 645px; }

.animation-base {
  z-index: 1;
  width: 602px; }

.bird {
  width: 21px;
  z-index: 2; }

.animation-bird-5 {
  left: 400px;
  bottom: 180px; }

.animation-bird-4 {
  left: 320px;
  bottom: 160px; }

.animation-bird-3 {
  left: 280px;
  bottom: 170px; }

.animation-bird-2 {
  bottom: 150px; }

.animation-bird-1 {
  top: 100px; }

.cloud {
  transform: scale3d(-1, 1, 1);
  transform-style: preserve-3d;
  z-index: 2; }

.animation-cloud-6 {
  left: 470px;
  top: -20px;
  width: 43px; }

.animation-cloud-5 {
  right: 175px;
  bottom: 180px;
  width: 43px; }

.animation-cloud-4 {
  left: 230px;
  top: 10px;
  width: 43px; }

.animation-cloud-3 {
  left: 150px;
  bottom: 150px;
  width: 85px; }

.animation-cloud-2 {
  right: 50px;
  bottom: 150px;
  width: 70px; }

.animation-cloud-1 {
  left: 20px;
  width: 80px; }

.animation-city-lights {
  left: 148px;
  top: 68px;
  width: 301px;
  z-index: 2; }

.animation-windmill-blade-2 {
  left: 43px;
  bottom: 151px;
  width: 65px;
  z-index: 3; }

.animation-winmill-2 {
  left: 46px;
  bottom: 122px;
  width: 60px;
  z-index: 2; }

.animation-windmill {
  top: -45px;
  right: 324px;
  width: 85px;
  z-index: 2; }

.city-train-mask-1 {
  position: absolute;
  left: 60px;
  bottom: 122px;
  z-index: 1;
  overflow: hidden;
  width: 460px;
  height: 38px; }

.city-train-1 {
  left: -100%;
  height: 38px; }

.city-train-mask-2 {
  position: absolute;
  left: 30px;
  top: 178px;
  z-index: 0;
  overflow: hidden;
  width: 500px;
  height: 38px; }

.city-train-1 {
  right: -100%; }

.city-coin-mask {
  position: absolute;
  left: 116px;
  top: -81px;
  z-index: 0;
  overflow: hidden;
  width: 70px;
  height: 100px; }

.city-coin {
  left: 15px;
  top: 20px;
  width: 40px; }

/***************ANIMATION****************/
.move {
  animation: move infinite ease-in-out; }

.floater {
  animation: floater infinite ease-in-out; }

.cloudmove {
  animation: cloudmove infinite ease-in-out; }

.spin {
  animation: spin infinite linear; }

.changeopacity {
  animation: changeopacity infinite ease-in-out; }

.trainmove {
  animation: trainmove infinite linear; }

.trainmovet {
  animation: trainmovet infinite linear; }

.coinmove {
  animation: coinmove infinite ease-in-out; }

.anim-dur8 {
  animation-duration: 8s; }

.anim-dur3 {
  animation-duration: 3s; }

.anim-dur2-4 {
  animation-duration: 2.4s; }

.anim-dur3-2 {
  animation-duration: 3.2s; }

.anim-dur3-1 {
  animation-duration: 8.2s; }

.anim-dur3-5 {
  animation-duration: 3.5s; }

.anim-dur3-7 {
  animation-duration: 3.7s; }

.anim-dur2-5 {
  animation-duration: 2.5s; }

.anim-dur30 {
  animation-duration: 30s; }

/*******keyframes********/
@keyframes move {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(70px); }
  100% {
    transform: translateX(0px); } }

@keyframes floater {
  0% {
    transform: translate3d(0px, -15px, 0px); }
  50% {
    transform: translate3d(0px, 0px, 0px); }
  100% {
    transform: translate3d(0px, -15px, 0px); } }

@keyframes cloudmove {
  0% {
    transform: translate3d(-15px, 0px, 0px); }
  50% {
    transform: translate3d(0px, 0px, 0px); }
  100% {
    transform: translate3d(-15px, 0px, 0px); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes changeopacity {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes trainmovet {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(2012px); } }

@keyframes trainmove {
  0% {
    transform: translateX(1006px); }
  100% {
    transform: translateX(-1006px); } }

@keyframes coinmove {
  0% {
    transform: translateY(0px);
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    transform: translateY(150px); }
  100% {
    transform: translateY(150px); } }

@keyframes flash {
  0% {
    color: #786E64; }
  50% {
    color: #FF8D6B;
    box-shadow: 0 0 4px #FF8D6B; }
  100% {
    color: #786E64;
    border:none { } } }

@keyframes sky-move {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -1490px 0px; } }

@keyframes train-move {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(2000px); }
  80% {
    transform: translateX(-700px); }
  100% {
    transform: translateX(0px); } }

@keyframes vision {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*btn-up*/
.btn-up {
  display: block;
  background: #999;
  -webkit-border-radius: 90%;
  border-radius: 90%;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 1000;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  outline: 0 !important;
  -webkit-transition: 0.4s;
    -webkit-transition--moz-transition: 0.4s;
    -webkit-transition--ms-transition: 0.4s;
    -webkit-transition--o-transition: 0.4s;
    -webkit-transition-transition: 0.4s;
  opacity: 0.6; }
  .btn-up::after {
    content: ' ';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .btn-up.active {
    bottom: 20px; }

/************FAQ*************/
.faq {
  padding: 50px 0; }

.faq-list {
  position: relative;
  float: left;
  margin: 24px 0px;
  line-height: 28px;
  border: 3px solid #FF8D6B;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  width: calc(100% - 0px); }
  @media screen and (min-width: 660px) {
    .faq-list {
      width: calc(50% - 16px); } }
  @media screen and (min-width: 980px) {
    .faq-list {
      width: calc(33.33333% - 16px); } }

.open-faq-list {
  position: absolute;
  top: 16px;
  display: block;
  width: 100%;
  height: 20px;
  z-index: 2;
  cursor: pointer; }
  .open-faq-list i {
    position: relative;
    width: 10px;
    height: 1px;
    border: 1px solid #fff;
    display: block; }
    .open-faq-list i:first-child {
      left: 90%;
      top: 9px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .open-faq-list i:last-child {
      bottom: -7px;
      left: 92.1%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media screen and (min-width: 660px) {
    .open-faq-list {
      display: none; } }

.faq-list-item {
  border-bottom: 3px solid #FF8D6B;
  display: none;
  top: 0;
  left: 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .faq-list-item:last-child {
    border-bottom: none; }
  .faq-list-item:hover {
    background: #FF8D6B;
    color: #fff; }
  @media screen and (min-width: 480px) {
    .faq-list-item {
      padding: 14px; } }
  @media screen and (min-width: 660px) {
    .faq-list-item {
      position: static;
      display: block; } }

.active-item {
  display: block;
  background: #FF8D6B;
  color: #fff; }

.faq-questions {
  float: right;
  margin: 24px 0px;
  width: calc(100% - 0px); }
  @media screen and (min-width: 660px) {
    .faq-questions {
      width: calc(50% - 16px); } }
  @media screen and (min-width: 980px) {
    .faq-questions {
      width: calc(66.66667% - 16px); } }

.general-quetion {
  display: none; }

.left {
  float: left;
  width: calc(100% - 0px); }
  @media screen and (min-width: 980px) {
    .left {
      width: calc(50% - 16px); } }

.right {
  float: right;
  width: calc(100% - 0px); }
  @media screen and (min-width: 980px) {
    .right {
      width: calc(50% - 16px); } }

.question-item {
  margin-bottom: 16px;
  border: 2px solid #A1C6D4;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 12px 28px; }

.title {
  cursor: pointer;
  padding: 12px 4px;
  color: #A1C6D4; }
  .title h3 {
    font-weight: bold; }

.inner {
  display: none;
  padding: 0px 4px;
  line-height: 24px; }
  .inner h4 {
    font-size: 18px;
    margin: 6px 0px;
    color: #A1C6D4; }

/***************register form********/
.register {
  background: linear-gradient(to bottom, #CFC3BC 50%, #fff 50%); }
  @media screen and (min-width: 660px) {
    .register {
      background: linear-gradient(to left, #CFC3BC 50%, #fff 50%); } }
  .register .fc-sb {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse; }
    @media screen and (min-width: 660px) {
      .register .fc-sb {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.logo-site {
  text-align: center; }

.register-form fieldset {
  flex-basis: calc(100% - 0px); }

.form-links {
  padding-top: 18px; }

/***************login form********/
.login-form {
  padding: 36px 0; }

.input-form {
  display: block;
  margin: 8px 0px;
  width: 100%;
  padding: 18px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f5f5f5;
  color: #565656;
  font-weight: lighter;
  font-size: 18px; }

.link-form {
  font-size: 18px;
  margin-right: 22px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .link-form:hover {
    color: #FF8D6B; }

.submit-form {
  background: #FF8D6B;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 62px;
  margin: 24px 0;
  font-size: 18px;
  color: #fff; }

/********resend page*********/
.confirmed {
  padding: 48px 0;
  flex-basis: calc(100% - 0px); }
  @media screen and (min-width: 660px) {
    .confirmed {
      flex-basis: calc(50% - 24px); } }
  .confirmed h2 {
    font-size: 28px; }

.confirmed-text {
  margin: 24px 0; }

/********media queries******/
