*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	height: 2446px;
	width: 100%;
}

.parallax{
	width: 100%;
	height: 100vh;
	background: #000;
	position: relative;
}
.scena{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: bottom center;
	-webkit-background-size: auto auto;
	     -o-background-size: auto auto;
	        background-size: auto auto;
}
.parallax-item-1{
	background-image: url("img/parallax0.png");
}
.parallax-item-2{
	background-image: url("img/parallax1.png");
}
.parallax-item-3{
	background-image: url("img/parallax2.png");
}
.parallax-item-4{
	background-image: url("img/parallax3.png");
}
.parallax-item-5{
	background-image: url("img/parallax4.png");
}
.parallax-item-6{
	background-image: url("img/parallax5.png");
}
.parallax-item-7{
	background-image: url("img/parallax6.png");
}
.parallax-item-8{
	background-image: url("img/parallax7.png");
}
.parallax-item-9{
	background-image: url("img/parallax8.png");
}

.section{
	margin-top: 400px;
	width: 100%;
	height: 100vh;
	background: #fff;
	display: flex;
	position: fixed;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}