/****************Preparatory works***************/

/************************************************************/

/*General*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Roboto Slab', serif;
  min-width: 320px;
  color: #555;
}

article {
  padding: 75px 0 100px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 25px 0;
  font-weight: normal;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

.wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*btn-up*/

.btn-up {
  display: block;
  background: #999;
  -webkit-border-radius: 90%;
  border-radius: 90%;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 1000;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  outline: 0 !important;
  -webkit-transition: 0.4s;
  -webkit-transition--moz-transition: 0.4s;
  -webkit-transition--ms-transition: 0.4s;
  -webkit-transition--o-transition: 0.4s;
  -webkit-transition-transition: 0.4s;
  opacity: 0.6;
}

.btn-up::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.btn-up.active {
  bottom: 20px;
}

/*header navbar*/

.fixed-nav-bar {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #222;
  top: 0;
  left: 0;
}

.fixed-nav-bar .top-nav-collapse {
  background: #222;
}

.fixed-nav-bar .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.fixed-nav-bar ul {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fixed-nav-bar ul li {
  margin-top: 14px;
}

.fixed-nav-bar ul a {
  color: #fff;
}

.navbar {
  display: none;
  -webkit-align-self: center;
  align-self: center;
}

/***nav-toggle***/

.nav-toggle {
  display: block;
  border-radius: 4px;
  width: 50px;
  height: 21px;
  cursor: pointer;
  padding: 4px;
  -webkit-align-self: center;
  align-self: center;
}

.nav-toggle i {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  border-radius: 2px;
  background: #fff;
}

.nav-toggle i:first-child {
  width: 33%;
}

.nav-toggle i:nth-child(2) {
  top: 4px;
  width: 66%;
}

.nav-toggle i:last-child {
  top: 8px;
}

/*-------carusel-------*/

.carousel {
  position: relative;
}

.carousel-controller {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 5;
}

.carousel-controller em {
  display: inline-block;
  margin-right: 12px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 90%;
  border-radius: 90%;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
}

.carousel-controller em.active {
  background: #FFF;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item {
  display: none;
}

.item.active {
  display: block;
}

.item::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.35;
  z-index: 1;
}

.carousel-centered {
  text-align: center;
  z-index: 2;
  margin: 0 auto;
  color: #fff;
  position: relative;
  top: 40%;
}

.carousel-centered h1 {
  margin-top: 0;
  font-size: 24px;
}

.carousel-centered span {
  font-size: 16px;
}

.btn-more {
  display: block;
  margin: 28px auto;
  width: 150px;
  color: #FFF;
  text-align: center;
  padding: 8px;
  border: 2px solid #fff;
  text-transform: uppercase;
}

/*===============start main====================*/

.acticle-name {
  font-size: 20px;
}

.acticle-name::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #555;
  margin: 25px auto 0;
}

/*=====================services================*/

.services-card section {
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: transform 0.2s 0.2s;
  -moz-transition: transform 0.2s 0.2s;
  -ms-transition: transform 0.2s 0.2s;
  -o-transition: transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  flex-basis: calc(100% - 0px);
}

.services-card section:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.services-card section:hover:first-child .services-img {
  background: #c0301c url("../img/fa-font-hover.png") center center no-repeat;
}

.services-card section:hover:nth-child(2) .services-img {
  background: #c0301c url("../img/fa-code-hover.png") center center no-repeat;
}

.services-card section:hover:last-child .services-img {
  background: #c0301c url("../img/fa-support-hover.png") center center no-repeat;
}

.services-card section .services-img {
  width: 86px;
  height: 86px;
  margin: 0 auto;
  border: 1px solid #ddd;
  -webkit-border-radius: 90%;
  border-radius: 90%;
  margin-top: 70px;
}

.services-card section:first-child .services-img {
  background: url("../img/fa-font.png") center center no-repeat;
}

.services-card section:nth-child(2) .services-img {
  background: url("../img/fa-code.png") center center no-repeat;
}

.services-card section:last-child .services-img {
  background: url("../img/fa-support.png") center center no-repeat;
}

/*===================about==================*/

.about {
  background: #f8f8f8;
}

.about-discription div {
  margin: 70px 0;
  flex-basis: calc(100% - 0px);
}

.about-discription div p {
  word-break: break-all;
}

/*=================about slider======================*/

.slide h5 {
  font-size: 14px;
  margin: 16px 0 6px;
}

.slide span {
  font-size: 13px;
}

.slide-img {
  overflow: hidden;
  height: 250px;
  position: relative;
  -webkit-transition: opacity 0.2s 0.2s;
  -moz-transition: opacity 0.2s 0.2s;
  -ms-transition: opacity 0.2s 0.2s;
  -o-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.slide-img:hover .slide-link {
  opacity: 1;
}

.slide-link {
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.slide-link ul {
  margin-bottom: 16px;
}

.slide-link li {
  margin: 0 8px;
  padding: 6px;
}

.slide-link li:hover {
  background: #c0301c;
}

.slide-link a {
  display: block;
  background: url("../img/soc-link.png") no-repeat;
  width: 16px;
  height: 16px;
}

.slide-link a.facebook {
  background-position: 3px 0;
}

.slide-link a.twitter {
  background-position: -17px 3px;
}

.slide-link a.google-plus {
  background-position: -41px 1px;
}

.slide-link a.linkIdin {
  background-position: -64px 0;
}

/*=====================works==========================*/

.latest-works {
  padding-bottom: 0;
}

.latest-works li {
  margin: 0 12px;
}

.latest-works li a:hover {
  color: #c0301c;
}

.works-position {
  margin-top: 30px;
}

.work-page {
  max-height: 215px;
  overflow: hidden;
  margin-bottom: 20px;
  flex-basis: calc(100% - 0px);
}

.work-popup {
  background: #c0301c;
  text-align: center;
  margin-top: 70px;
}

.work-popup p {
  color: #FFF;
  font-size: 16px;
  margin: 16px 0;
}

.work-popup a {
  color: #FFF;
}

/*======================blog=====================*/

.post {
  margin-top: 70px;
}

.post-img {
  max-height: 300px;
  overflow: hidden;
  flex-basis: calc(100% - 0px);
}

.post-text {
  margin-top: 30px;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  flex-basis: calc(100% - 0px);
}

.post-text p {
  margin: 25px 0;
}

.post-text a {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}

.post-text:hover a {
  color: #c0301c;
}

.post-text:hover .title-post h4 {
  color: #c0301c;
}

.post-text:hover .title-post em {
  color: #c0301c;
}

.post-text-title h4 {
  margin-top: 0;
  font-weight: bold;
}

.post-text-title .data {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: block;
  border: 2px solid #777;
  margin: 0px 20px 20px 0;
  padding: 12px 20px;
  text-align: center;
}

.post-text-title .data em {
  font-size: 14px;
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.post-text-title .title-post span {
  font-style: italic;
}

/*=========================clients=================================*/

.clients {
  background: #F8F8F8;
}

.clients-link {
  overflow: auto;
  width: 100%;
}

.clients-link ul {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.clients-link a {
  width: 150px;
  height: 49px;
  display: block;
  background: url("../img/clients-link.png") no-repeat;
}

.clients-link li:first-child a {
  background-position: 0 12px;
}

.clients-link li:nth-child(2) a {
  background-position: -150px 0;
}

.clients-link li:nth-child(3) a {
  background-position: -307px 12px;
}

.clients-link li:nth-child(4) a {
  background-position: -455px 12px;
}

.clients-link li:nth-child(5) a {
  background-position: -595px 0;
}

@media screen and (min-width: 480px) {
  .services-card section {
    flex-basis: calc(66.66667% - 15px);
  }

  .work-page {
    flex-basis: calc(50% - 15px);
  }
}

@media screen and (min-width: 560px) {
  .work-popup p {
    font-size: 30px;
  }
}

@media screen and (min-width: 640px) {
  .carousel-centered h1 {
    font-size: 48px;
  }

  .carousel-centered span {
    font-size: 20px;
  }
}

@media screen and (min-width: 780px) {
  .fixed-nav-bar ul li {
    margin: 0;
  }

  .fixed-nav-bar ul {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .fixed-nav-bar {
    background: transparent;
  }

  .navbar {
    display: block;
  }

  .nav-toggle {
    display: none;
  }

  .services-card section {
    flex-basis: calc(33.33333% - 15px);
  }

  .about-discription div {
    flex-basis: calc(50% - 20px);
  }

  .work-page {
    flex-basis: calc(33.33333% - 15px);
  }

  .post-img {
    flex-basis: calc(33.33333% - 20px);
  }

  .post-text {
    flex-basis: calc(66.66667% - 20px);
  }

  .post-text {
    margin: 0;
  }
}