/****Grid layout settings****/

/*General for documetn settings*/

/*Color*/

/*Typography*/

@import url("grid.css");

@import url("owl.carousel.min.css");

@import url("remodal.css");

@import url("remodal-default-theme.css");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/*General style*/

html,
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.border-radius {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.owl-carousel .owl-item img {
  width: inherit;
}

.squer1,
.squer2 {
  display: none;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

.squer2 {
  width: 1300px;
  height: 800px;
  left: -65%;
  top: 20%;
  background: #f7fdfe;
}

.squer1 {
  width: 375px;
  height: 375px;
  left: -15%;
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
}

.squer3 {
  height: 720px;
  width: 60%;
  background: #f7fdfe;
  position: absolute;
  top: -10%;
  right: 0;
  z-index: -1;
}

.squer4 {
  display: none;
  width: 65%;
  height: 400px;
  left: -20px;
  top: -100px;
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  position: absolute;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.squer5 {
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  z-index: -1;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
}

.squer6 {
  width: 100%;
  height: 65%;
  background: #f8fdff;
}

.squer7 {
  background: #F8F9FD;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  width: 400px;
  height: 400px;
  position: relative;
  z-index: -2;
  margin: 0 auto;
  top: 70px;
  left: -28px;
}

/*header menu style*/

header {
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-fixed {
  background: #FFF;
}

.header-fixed .logo {
  background-image: url("../img/Final-logo-gray.png");
}

.header-fixed nav.flex a {
  color: #000;
}

.header-fixed nav.flex a:before {
  background: #05aef5;
}

.header-fixed nav.flex a:hover {
  color: #05aef5;
}

.header-fixed .nav-toggle-line {
  background: #000;
}

.logo {
  margin-top: 6px;
  background-image: url("../img/Final-logo-white.png");
  width: 200px;
  height: 36px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

nav.flex {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 75%;
  left: 0;
  padding: 0 10px;
  text-align: center;
  display: none;
  opacity: 0;
}

nav.flex li {
  margin: 2px 0;
}

nav.flex li a {
  display: block;
  font-weight: 600;
  padding: 10px 0px;
}

nav.flex li a:hover {
  color: #fff;
  background: #1bdec0;
}

nav.flex li:last-child a {
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  color: #05aef5;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  width: 140px;
  color: #FFF;
  margin: 10px auto;
}

nav.flex li:last-child a:before {
  display: none;
}

nav.flex li:last-child a:hover {
  color: #fff;
}

.button {
  cursor: pointer;
}

/*nav-toggle-block*/

.header-menu-open {
  background: #FFF;
}

.header-menu-open .logo {
  background-image: url("../img/Final-logo-gray.png");
}

.block-toggle {
  display: block;
}

.nav-toggle-block {
  margin: 15px;
  cursor: pointer;
  display: block;
  width: 29px;
  height: 27px;
  position: relative;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.open .nav-toggle-line {
  background: #888;
}

nav.nav-open {
  display: block;
  opacity: 1;
  background: #FFF;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.nav-toggle-line {
  width: 80%;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: block;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 3px;
  top: 0;
  -webkit-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
}

.nav-toggle-line:nth-child(1) {
  top: 5px;
}

.nav-toggle-line:nth-child(2) {
  top: 12px;
}

.nav-toggle-line:nth-child(3) {
  top: 19px;
}

.active-line {
  -webkit-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  background: #FFF;
}

.active-line:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active-line:nth-child(2) {
  opacity: 0;
}

.active-line:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**********end nav toggle**************/

/*header-block*/

.header-block {
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.inner-block {
  color: #FFF;
  position: relative;
  z-index: 2;
  text-align: center;
}

.inner-block p {
  font-weight: 800;
  font-size: 25px;
  width: 90%;
  margin: 0 auto;
}

.inner-block a {
  border: 2px solid #fff;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 55px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-weight: 600;
}

.inner-block a:hover {
  background: #FFF;
  color: #05AEF5;
}

/***partners block style*******/

.partners {
  position: relative;
  z-index: 2;
  background: #FFF;
  width: 85%;
  max-width: 1200px;
  padding: 30px 0;
  margin: -190px auto 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.partners a {
  display: block;
  width: 160px;
  min-height: 55px;
  margin: 25px 55px 25px 55px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.partners a:nth-child(1) {
  background-image: url("../img/Buy-Railings.png");
}

.partners a:nth-child(1):hover {
  background-image: url("../img/buyRailingsHover.png");
}

.partners a:nth-child(2) {
  background-image: url("../img/FreightRun.png");
}

.partners a:nth-child(2):hover {
  background-image: url("../img/FreightRunHover.png");
}

.partners a:nth-child(3) {
  background-image: url("../img/pilot.png");
}

.partners a:nth-child(3):hover {
  background-image: url("../img/pilotHover.png");
}

.partners a:nth-child(4) {
  background-image: url("../img/MyCryptos.png");
}

.partners a:nth-child(4):hover {
  background-image: url("../img/MyCryptosHover.png");
}

.partners a:nth-child(5) {
  background-image: url("../img/Jooo3an.png");
}

.partners a:nth-child(5):hover {
  background-image: url("../img/Jooo3anHover.png");
}

.partners a:nth-child(6) {
  background-image: url("../img/Projectorquest.png");
}

.partners a:nth-child(6):hover {
  background-image: url("../img/ProjectorquestHover.png");
}

.partners a:nth-child(7) {
  background-image: url("../img/SeeUFit.png");
}

.partners a:nth-child(7):hover {
  background-image: url("../img/SeeUFitHover.png");
}

/*****body content styles*******/

/*****about styles*******/

.content-inner .container {
  text-align: center;
}

.header-section {
  display: inline-block;
  font-size: 36px;
  margin: 16px 0;
}

.header-section:before {
  content: "";
  float: left;
  display: none;
  width: 49px;
  height: 40px;
  background: #1bdec0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 57px 0 0;
}

.about section {
  padding: 40px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.about section:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.about section:nth-child(1) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.about section:nth-child(2) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.about section:nth-child(3) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.inner-header {
  margin: 10px 0 20px;
  font-weight: 800;
  font-size: 20px;
}

.about-img {
  width: 100%;
  height: 130px;
  background-position: center center;
  background-repeat: no-repeat;
}

/*****our story styles*****/

.story {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.slide-show {
  position: relative;
  overflow: hidden;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slide-show .slide-1 {
  height: 100%;
  background: url("../img/img1.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide-show img {
  height: 100%;
  opacity: 0;
}

.story-content {
  padding: 15px;
}

.story-content h4 {
  font-weight: 700;
}

.story-content h4:before {
  margin-right: 35px;
}

.story-text {
  font-weight: 700;
  margin: 30px 0;
  display: block;
}

/*****services styles******/

.services-img {
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 30px 0;
}

.services {
  position: relative;
  margin-top: 170px;
  text-align: center;
}

.services section {
  text-align: left;
  margin: 30px 0;
  padding: 0 16px 16px;
  -webkit-border-radius: 10px;
  -webkit-border-radius-border-radius: 10px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.services section:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.services section:nth-child(1) .services-img {
  background-image: url("../img/Programming.png");
}

.services section:nth-child(2) .services-img {
  background-image: url("../img/Forma 1.png");
}

.services section:nth-child(3) .services-img {
  background-image: url("../img/Forma 2.png");
}

.services section:nth-child(4) .services-img {
  background-image: url("../img/L0001.png");
}

.services section:nth-child(5) .services-img {
  background-image: url("../img/L0002.png");
}

.services section:nth-child(6) .services-img {
  background-image: url("../img/Forma 3.png");
}

.services-content {
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

/*****circul section styles******/

.global-circle-block {
  position: relative;
}

.circul-section {
  padding: 20px;
  max-width: 1500px;
  margin: 150px auto;
  text-align: center;
  position: relative;
}

.circul-section section {
  position: relative;
  margin: 50px 0;
}

.bg-squer {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circul {
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #1bdec0;
  border: 1px solid;
  border-top-color: #1bdec0;
  border-right-color: #1bdec0;
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 44px 0;
}

.circul p {
  font-weight: 800;
}

/*******slider portfolio styles*******/

.portfolio {
  position: relative;
  margin-bottom: 270px;
}

.portfolio .owl-dots {
  bottom: 50px;
}

.slider-portolio {
  background-image: -moz-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-image img {
  width: 100% !important;
}

.slider-content {
  margin-left: auto;
  min-height: 700px;
  padding: 70px;
  color: #FFF;
}

.slider-content img {
  width: 200px !important;
  height: 75px;
}

.slider-content h5 {
  font-size: 18px;
  font-weight: 800;
  margin: 30px 0;
}

.slider-content span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}

.slider-content a {
  display: block;
  width: 170px;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 12px 0;
  margin: 62px 0;
  background: #FFF;
  border: 1px solid #fff;
  color: #04407C;
}

.slider-content a:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  float: left;
  background: url("../img/GooglePlay.png") center no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin: 5px -2px 0px 24px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.slider-content a:hover {
  color: #FFF;
  background: transparent;
}

.slider-content a:hover:before {
  background: url("../img/GooglePlayHover.png") center no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.owl-dots {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 50%;
  z-index: 50;
  margin-left: -67px;
}

.owl-dots button.owl-dot {
  -webkit-flex-basis: 8%;
  flex-basis: 8%;
  height: 9px;
  display: block;
  width: 25px;
  margin: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dots button.owl-dot:hover {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.owl-dot:hover span {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.owl-dot span {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: block;
  height: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #FFF;
}

.owl-dots button.active {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.active span {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-nav [class*=owl-]:hover {
  background: none;
}

.portfolio .owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: none;
  justify-content: space-between;
}

.portfolio .owl-nav span {
  font-size: 50px;
  margin: 0 26px;
  color: #FFF;
}

/*******users styles*******/

.solutions {
  text-align: center;
  position: relative;
}

.solutions .squer3 {
  top: -170px;
}

.solutions h3 {
  color: #000;
  margin-bottom: 30px;
  font-size: 36px;
  position: relative;
  z-index: 20;
}

.solutions .container {
  text-align: left;
}

.users {
  margin: 10px;
  padding: 60px 20%;
  background: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 50;
}

.users p {
  margin: 20px 0;
}

.users p span {
  margin: 20px 0;
}

.users span {
  display: block;
}

.user-slider .owl-nav {
  display: none;
}

.user-slider .owl-dots {
  display: flex;
  position: static;
  width: 200px;
  margin: 20px auto;
}

.user-slider .owl-dots .owl-dot span {
  background: #1ad4b7;
}

.user-slider .owl-carousel .owl-nav {
  display: none;
}

.user-slider .owl-carousel .owl-nav button {
  font-size: 60px;
}

.user-slider .owl-carousel .owl-nav .owl-prev {
  margin-right: 190px;
}

.user-foto {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-right: 30px;
}

.user-info h4 {
  font-size: 20px;
  font-weight: 800;
}

.user-info span:nth-child(3) {
  color: #05aef5;
}

.user-1 .user-foto {
  background-image: url("../img/foto1.jpg");
  background-position: -178px -55px;
}

.user-2 .user-foto {
  background-image: url("../img/foto2.jpg");
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/*****top firms styles******/

.top-firms {
  margin-top: 200px;
  position: relative;
}

.top-firms p {
  display: block;
  margin: 20px 0;
}

.top-firms .squer1 {
  bottom: 0;
  left: -30%;
}

.firm {
  text-align: center;
  margin: 0 auto 26px;
  width: 230px;
  padding: 40px 0;
  box-shadow: 0px 0px 80px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.firm a {
  font-weight: 700;
  color: #BDBDBD;
  font-size: 16px;
  margin: 16px 0;
  display: block;
}

.firm p {
  font-size: 36px;
  color: #1BDEC0;
  font-weight: 800;
  margin: 0;
}

.firm:hover {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.img-firm {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

.up-div {
  margin-top: 0px;
}

/*contact*/

.contact {
  position: relative;
}

.contact-block {
  background: #FFF;
  text-align: center;
  max-width: 970px;
  margin: 50px auto;
  padding: 60px 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 80px -5px rgba(0, 0, 0, 0.1);
}

.contact-block form {
  max-width: 570px;
  margin: 0 auto;
}

.contact-block form textarea,
.contact-block form input {
  display: block;
  margin: 7px 0;
  width: 100%;
  padding: 20px 18px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.contact-block fieldset {
  border: none;
}

.submit-message {
  cursor: pointer;
  border: none;
  color: #FFF;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  width: 170px;
  height: 50px;
  text-align: center;
  margin: 35px auto;
  font-weight: 600;
  font-size: 16px;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.soc {
  color: #000;
  margin-top: 30px;
}

.soc div {
  max-width: 400px;
}

.soc a {
  display: flex;
  margin: 0px 20px 0 0;
}

.soc a:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.soc a:nth-child(1):before {
  background-image: url("../img/Fb.png");
}

.soc a:nth-child(2):before {
  background-image: url("../img/Lnkdn.png");
}

.soc a p {
  display: none;
}

/*footer*/

footer {
  text-align: left;
  padding: 40px 10px;
  font-size: 16px;
  color: #BDBDBD;
}

/*pop-up*/

.remodal {
  background: none;
}

@media screen and (min-width: 640px) {
  .squer5 {
    height: 100%;
  }

  .inner-block p {
    font-size: 40px;
    width: 70%;
  }

  .header-section:before {
    display: block;
  }

  .services-content {
    width: 100%;
  }

  .user-slider .owl-dots {
    display: none;
  }

  .user-slider .owl-carousel .owl-nav {
    display: block;
  }

  .up-div {
    margin-top: -80px;
  }

  .soc {
    color: #FFF;
    margin-top: 0;
  }

  .soc a:nth-child(1):before {
    background-image: url("../img/facebook.png");
  }

  .soc a:nth-child(2):before {
    background-image: url("../img/linkidin.png");
  }

  .soc a p {
    display: inline;
  }

  footer {
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  .squer1,
  .squer2 {
    display: block;
  }

  .squer4 {
    display: block;
  }

  .squer6 {
    width: 65%;
    height: 100%;
  }

  .squer7 {
    margin: 0;
    top: 0;
    left: 0;
  }

  .header-fixed nav.flex li:last-child a {
    color: #FFF;
    background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
    background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
    background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  }

  nav.flex {
    position: static;
    width: auto;
    display: flex;
    text-align: left;
    opacity: 1;
    color: #FFF;
  }

  nav.flex li {
    margin-right: 24px;
  }

  nav.flex li a {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }

  nav.flex li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  nav.flex li a:hover {
    background: none;
    color: inherit;
  }

  nav.flex li a:hover:before {
    left: 20%;
    right: 20%;
  }

  nav.flex li:last-child a {
    background: #FFF;
    margin: 0;
    width: inherit;
    color: #05aef5;
  }

  nav.flex li:last-child a:hover {
    color: #05aef5;
  }

  .block-toggle {
    display: none;
  }

  .story {
    margin: 0;
    max-width: 95%;
  }

  .portfolio .owl-nav {
    display: flex;
  }

  .solutions h3 {
    color: #fff;
  }
}