/****Grid layout settings****/

/*General for documetn settings*/

/*Color*/

/*Typography*/

@import url("grid.css");

@import url("owl.carousel.min.css");

@import url("remodal.css");

@import url("remodal-default-theme.css");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/*General style*/

html,
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #3d3d41;
}

.border-radius {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.squer1,
.squer2 {
  display: none;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

.squer2 {
  width: 1300px;
  height: 800px;
  left: -65%;
  top: 20%;
  background: #f7fdfe;
}

.squer1 {
  width: 375px;
  height: 375px;
  left: -15%;
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
}

.squer3 {
  height: 720px;
  width: 60%;
  background: #f8f9fd;
  position: absolute;
  top: -10%;
  right: 0;
  z-index: -1;
}

.squer4 {
  display: none;
  width: 65%;
  height: 400px;
  left: -20px;
  top: -100px;
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  position: absolute;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.squer4:before {
  content: "";
  display: block;
  width: 88px;
  margin-left: auto;
  margin-right: 370px;
  margin-top: 80px;
  opacity: .2;
  height: 69px;
  background-image: url("../img/upDots.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.squer5 {
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  z-index: -1;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
}

.squer6 {
  width: 100%;
  height: 65%;
  background: #f8fdff;
}

.squer7 {
  background: #F8F9FD;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/*header menu style*/

header {
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  margin-top: 6px;
  background-image: url("../img/Final-logo-white.png");
  width: 200px;
  height: 36px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

nav.flex {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 75%;
  left: 0;
  padding: 0 10px;
  text-align: center;
  display: none;
  opacity: 0;
}

nav.flex li {
  margin: 2px 0;
}

nav.flex li a {
  display: block;
  font-weight: 600;
  padding: 10px 0px;
}

nav.flex li a:hover {
  color: #fff;
  background: #1bdec0;
}

nav.flex a.nav-item-active {
  color: #fff;
  background: #1bdec0;
}

nav.flex li a.button {
  cursor: pointer;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  color: #05aef5;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #fff;
  padding: 9px;
  width: 140px;
  color: #FFF;
  margin: 10px auto;
}

nav.flex li a.button:before {
  display: none;
  content: none;
}

nav.flex li a.button:hover {
  color: #fff;
  background: #1bdec0;
}

.header-fixed {
  background: #FFF;
}

.header-fixed .logo {
  background-image: url("../img/Final-logo-gray.png");
}

.header-fixed nav.flex .nav-item-active {
  color: #3d3d41;
}

.header-fixed nav.flex .nav-item-active:before {
  background: #05aef5;
}

.header-fixed nav.flex a {
  color: #3d3d41;
}

.header-fixed nav.flex a:before {
  background: #05aef5;
}

.header-fixed .nav-toggle-line {
  background: #000;
}

/*nav-toggle-block*/

.header-menu-open {
  background: #FFF;
}

.header-menu-open .logo {
  background-image: url("../img/Final-logo-gray.png");
}

.block-toggle {
  display: block;
}

.nav-toggle-block {
  margin: 15px;
  cursor: pointer;
  display: block;
  width: 29px;
  height: 27px;
  position: relative;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.open .nav-toggle-line {
  background: #888;
}

nav.nav-open {
  display: block;
  opacity: 1;
  background: #FFF;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow-y: scroll;
}

.nav-toggle-line {
  width: 80%;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: block;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 3px;
  top: 0;
  -webkit-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
}

.nav-toggle-line:nth-child(1) {
  top: 5px;
}

.nav-toggle-line:nth-child(2) {
  top: 12px;
}

.nav-toggle-line:nth-child(3) {
  top: 19px;
}

.active-line {
  -webkit-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  background: #FFF;
}

.active-line:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active-line:nth-child(2) {
  opacity: 0;
}

.active-line:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**********end nav toggle**************/

/*header-block*/

.header-block {
  background-image: url("../img/1.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  position: relative;
}
.header-block.header-block-1{
  background-image: url("../img/2.png");
}
.header-block.header-block-2{
  background-image: url("../img/3.png");
}
.header-block.header-block-3{
  background-image: url("../img/4.png");
}
.header-block.header-block-4{
  background-image: url("../img/5.png");
}
.header-block.header-block-5{
  background-image: url("../img/6.png");
}
.overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.inner-block {
  color: #FFF;
  position: relative;
  z-index: 2;
  text-align: center;
}

.inner-block p {
  font-weight: 800;
  font-size: 25px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.inner-block a {
  border: 2px solid #fff;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 55px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-weight: 600;
}

.inner-block a:hover {
  background: #FFF;
  color: #05AEF5;
}

.btn-global {
  color: #FFF;
  font-size: 16px;
  width: 170px;
  min-height: 50px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

/***partners block style*******/

.partners {
  position: relative;
  z-index: 2;
  background: #FFF;
  width: 85%;
  max-width: 1200px;
  padding: 75px 0;
  margin: -190px auto 0;
  box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.1);
}

.partners a {
  display: block;
  width: 160px;
  min-height: 55px;
  margin: 25px 55px 25px 55px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.partners a:nth-child(1) {
  background-image: url("../img/Buy-Railings.png");
}

.partners a:nth-child(1):hover {
  background-image: url("../img/buyRailingsHover.png");
}

.partners a:nth-child(2) {
  background-image: url("../img/FreightRun.png");
}

.partners a:nth-child(2):hover {
  background-image: url("../img/FreightRunHover.png");
}

.partners a:nth-child(3) {
  background-image: url("../img/pilot.png");
}

.partners a:nth-child(3):hover {
  background-image: url("../img/pilotHover.png");
}

.partners a:nth-child(4) {
  background-image: url("../img/MyCryptos.png");
}

.partners a:nth-child(4):hover {
  background-image: url("../img/MyCryptosHover.png");
}

.partners a:nth-child(5) {
  background-image: url("../img/Jooo3an.png");
}

.partners a:nth-child(5):hover {
  background-image: url("../img/Jooo3anHover.png");
}

.partners a:nth-child(6) {
  background-image: url("../img/Projectorquest.png");
}

.partners a:nth-child(6):hover {
  background-image: url("../img/ProjectorquestHover.png");
}

.partners a:nth-child(7) {
  background-image: url("../img/SeeUFit.png");
}

.partners a:nth-child(7):hover {
  background-image: url("../img/SeeUFitHover.png");
}

/*****body content styles*******/

/*****about styles*******/

.content-inner {
  margin-bottom: 80px;
}

.content-inner .container {
  text-align: center;
}

.h3-block {
  text-align: center;
}

.header-section {
  display: inline-block;
  font-size: 36px;
  margin: 16px 0 50px;
}

.header-section:before {
  content: "";
  float: left;
  display: none;
  width: 49px;
  height: 40px;
  background: #1bdec0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 40px 0 0;
}

.about section {
  padding: 40px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.about section:hover {
  box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.1);
}

.about section:nth-child(1) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.about section:nth-child(2) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.about section:nth-child(3) .about-img {
  background-image: url("../img/Ellipse 1.png");
}

.inner-header {
  margin: 10px 0 20px;
  font-weight: 800;
  position: relative;
  font-size: 20px;
}

.about-img {
  width: 100%;
  height: 130px;
  background-position: center center;
  background-repeat: no-repeat;
}

/*****our story styles*****/

.story {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.story-show {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.story-show .story-show-inner {
  height: 100%;
  background: url("../img/img1.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.story-show img {
  height: 100%;
  opacity: 0;
}

.story-content {
  padding: 15px;
  max-width: 570px;
  margin: 0;
}

.story-content h4 {
  font-weight: 700;
}

.story-content h4:before {
  margin-right: 35px;
}

.story-text {
  font-weight: 700;
  margin: 0 0 30px;
  display: block;
}

/*****services styles******/

.services-img {
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 30px 0;
}

.services {
  position: relative;
  margin-top: 130px;
  text-align: center;
  padding-top: 100px;
  background-image: url("../img/Rectangle-9.png");
  -webkit-background-size: 75%;
  -o-background-size: 75%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top right;
}

.services section {
  text-align: left;
  margin: 30px 0;
  padding: 0 16px 16px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-image 0.3s ease-out;
  -moz-transition: background-image 0.3s ease-out;
  -ms-transition: background-image 0.3s ease-out;
  -o-transition: background-image 0.3s ease-out;
  transition: background-image 0.3s ease-out;
}

.services section:nth-child(1) .services-img {
  background-image: url("../img/Programming.png");
}

.services section:nth-child(2) .services-img {
  background-image: url("../img/Forma 1.png");
}

.services section:nth-child(3) .services-img {
  background-image: url("../img/Forma 2.png");
}

.services section:nth-child(4) .services-img {
  background-image: url("../img/L0001.png");
}

.services section:nth-child(5) .services-img {
  background-image: url("../img/L0002.png");
}

.services section:nth-child(6) .services-img {
  background-image: url("../img/Forma 3.png");
}

.services section:hover {
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.services section:hover .inner-header {
  color: #FFF;
}

.services section:hover p {
  color: #FFF;
}

.services section:hover .services-img {
  background-image: url("../img/ProgrammingHover.png");
}

.services section:hover:nth-child(2) .services-img {
  background-image: url("../img/Forma-1-hover.png");
}

.services section:hover:nth-child(3) .services-img {
  background-image: url("../img/Forma-2-hover.png");
}

.services section:hover:nth-child(4) .services-img {
  background-image: url("../img/L0001Hover.png");
}

.services section:hover:nth-child(5) .services-img {
  background-image: url("../img/L0002Hover.png");
}

.services section:hover:nth-child(6) .services-img {
  background-image: url("../img/Forma-3-hover.png");
}

.services-content {
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.1);
}

/*****circul section styles******/

.global-circle-block {
  position: relative;
  background-image: url("../img/Rectangle-11.png");
  -webkit-background-size: 75%;
  -o-background-size: 75%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top left;
}

.circul-section {
  padding: 38px 20px;
  max-width: 1500px;
  margin: 150px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.circul-section section {
  position: relative;
  margin: 50px 0;
}

.circul {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #1bdec0;
  border: 1px solid;
  border-top-color: #1bdec0;
  border-right-color: #1bdec0;
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 44px 0;
}

.circul p {
  font-weight: 800;
}

/*******slider portfolio styles*******/

.portfolio {
  position: relative;
  margin-bottom: 270px;
}

.portfolio .owl-dots {
  bottom: 50px;
}

.slider-portolio {
  max-height: auto;
  background-image: -moz-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(130deg, #04407c 0%, #05aef5 100%);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-image img {
  width: 100% !important;
}

.slider-content {
  min-height: 700px;
  max-width: 700px;
  padding: 70px;
  color: #FFF;
}

.slider-content img {
  width: 200px !important;
  height: 75px;
}

.slider-content h5 {
  font-size: 18px;
  font-weight: 800;
  margin: 30px 0;
}

.slider-content span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}

.slider-content a {
  display: block;
  width: 170px;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 12px 0;
  margin: 62px 0;
  background: #FFF;
  border: 1px solid #fff;
  color: #04407C;
}

.slider-content a:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  float: left;
  background: url("../img/GooglePlay.png") center no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin: 5px -2px 0px 24px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.slider-content a:hover {
  color: #FFF;
  background: transparent;
}

.slider-content a:hover:before {
  background: url("../img/GooglePlayHover.png") center no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.owl-dots {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 50%;
  z-index: 50;
  margin-left: -67px;
}

.owl-dots button.owl-dot {
  -webkit-flex-basis: 19%;
  flex-basis: 19%;
  height: 10px;
  display: block;
  width: 25px;
  margin: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dots button.owl-dot:hover {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.owl-dot:hover span {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.owl-dot span {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: block;
  height: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #FFF;
}

.owl-dots button.active {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-dots button.active span {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.owl-nav [class*=owl-]:hover {
  background: none;
}

.portfolio .owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: none;
  justify-content: space-between;
}

.portfolio .owl-nav span {
  font-size: 50px;
  margin: 0 26px;
  color: #FFF;
}

/*******users styles*******/

.solutions {
  text-align: center;
  position: relative;
}

.solutions .squer3 {
  top: -170px;
}

.solutions .squer3:before {
  content: "";
  display: block;
  width: 88px;
  position: absolute;
  top: 40px;
  left: -185px;
  opacity: .1;
  height: 69px;
  background-image: url("../img/upDots.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.solutions h3 {
  color: #000;
  margin-bottom: 30px;
  font-size: 36px;
  position: relative;
  z-index: 20;
}

.solutions .container {
  text-align: left;
}

.users {
  display: block;
  padding: 60px 20%;
  background: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 50;
}

.users p {
  margin: 20px 0;
}

.users p span {
  margin: 20px 0;
}

.users span {
  display: block;
}

.user-slider .owl-dots {
  display: flex;
  position: static;
  width: 200px;
  margin: 20px auto;
}

.user-slider .owl-dots .owl-dot {
  height: 14px;
}

.user-slider .owl-dots .owl-dot span {
  background: #1ad4b7;
}

.user-slider .owl-carousel .owl-nav {
  display: none;
}

.user-slider .owl-carousel .owl-nav button {
  font-size: 60px;
}

.user-slider .owl-carousel .owl-nav .owl-prev {
  margin-right: 190px;
}

.user-slider .owl-carousel .owl-stage-outer {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 20px 115px 20px rgba(0, 0, 0, 0.1);
}

.user-foto {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-right: 30px;
}

.user-info h4 {
  font-size: 20px;
  font-weight: 800;
}

.user-info span:nth-child(3) {
  color: #05aef5;
}

.user-1 .user-foto {
  background-image: url("../img/foto1.jpg");
  background-position: -178px -55px;
}

.user-2 .user-foto {
  background-image: url("../img/foto2.jpg");
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

/*****top firms styles******/

.top-firms {
  margin-top: 200px;
  margin-bottom: 74px;
  position: relative;
}

.top-firms p {
  display: block;
  margin: 0px 0 20px;
}

.top-firms .squer1 {
  bottom: 0;
  left: -30%;
}

.firm {
  text-align: center;
  margin: 0 auto 26px;
  width: 100%;
  padding: 40px 0;
  box-shadow: 0px 0px 80px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.firm a {
  font-weight: 700;
  color: #BDBDBD;
  font-size: 16px;
  margin: 16px 0;
  display: block;
}

.firm p {
  font-size: 36px;
  color: #1BDEC0;
  font-weight: 800;
  margin: 0;
}

.firm:hover {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.img-firm {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

.up-div {
  margin-top: 0px;
}

/*contact*/

.contact {
  position: relative;
  padding: 20px 0px;
}

.contact .squer3 {
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
}

.contact-block {
  background: #FFF;
  text-align: center;
  max-width: 970px;
  margin: 50px auto;
  padding: 60px 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 80px -5px rgba(0, 0, 0, 0.1);
}

.contact-block form {
  max-width: 570px;
  margin: 0 auto;
}

.contact-block form textarea,
.contact-block form input {
  display: block;
  margin: 7px 0;
  width: 100%;
  padding: 20px 18px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.contact-block fieldset {
  border: none;
}

.submit-message {
  cursor: pointer;
  border: none;
  color: #FFF;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: block;
  width: 170px;
  height: 50px;
  text-align: center;
  margin: 35px auto;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 10px 40px -6px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.address {
  font-size: 16px;
}

.address .inner-header {
  font-size: 16px;
  margin: 10px 0;
}

.soc {
  color: #000;
  margin-top: 30px;
}

.soc div {
  max-width: 400px;
}

.soc a {
  display: flex;
  margin: 0px 20px 0 0;
}

.soc a:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.soc a:nth-child(1):before {
  background-image: url("../img/Fb.png");
}

.soc a:nth-child(2):before {
  background-image: url("../img/Lnkdn.png");
}

.soc a p {
  display: none;
}

/*footer*/

footer {
  text-align: left;
  padding: 40px 10px;
  font-size: 16px;
  color: #BDBDBD;
}

/*pop-up*/

.remodal {
  background: none;
}

/******************next page for document About Us*********************/

.about-us-circle-block {
  position: relative;
  z-index: 20;
  background: none;
}

.about-us-circle-block .circul-section {
  margin: 100px auto 0px;
}

.about-us-circle-block .circul-section section {
  margin: 20px 0;
}

.about-us-circle-block .circul {
  border-color: #FFF;
  color: #FFF;
  font-size: 28px;
  padding: 34px 0px;
  width: 110px;
  height: 110px;
}

.about-us-circle-block .inner-header {
  color: #FFF;
}

.about-us-circle-block .inner-block a {
  margin: 55px 0 300px;
}

.about-us-services {
  margin: -200px 0 0;
}

.about-us-services-item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0px 8px 40px 4px rgba(0, 0, 0, 0.15);
}

.about-us-services-item:nth-child(1) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-1.png");
}

.about-us-services-item:nth-child(2) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-2.png");
}

.about-us-services-item:nth-child(3) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-3.png");
}

.about-us-services-item:nth-child(4) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-4.png");
}

.about-us-services-item:nth-child(5) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-5.png");
}

.about-us-services-item:nth-child(6) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-6.png");
}

.about-us-services-item:nth-child(7) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-7.png");
}

.about-us-services-item:nth-child(8) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-5.png");
}

.about-us-services-item:nth-child(9) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-4.png");
}

.about-us-services-item:hover .bg-hover-item-about {
  -webkit-transform: rotate(4deg) translate(-10px, 20px);
  -moz-transform: rotate(4deg) translate(-10px, 20px);
  -ms-transform: rotate(4deg) translate(-10px, 20px);
  -o-transform: rotate(4deg) translate(-10px, 20px);
  transform: rotate(4deg) translate(-10px, 20px);
}

.about-us-services-item:hover:nth-child(1) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-1.png");
}

.about-us-services-item:hover:nth-child(2) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-2.png");
}

.about-us-services-item:hover:nth-child(3) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-3.png");
}

.about-us-services-item:hover:nth-child(4) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-4.png");
}

.about-us-services-item:hover:nth-child(5) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-5.png");
}

.about-us-services-item:hover:nth-child(6) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-6.png");
}

.about-us-services-item:hover:nth-child(7) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-7.png");
}

.about-us-services-item:hover:nth-child(8) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-5.png");
}

.about-us-services-item:hover:nth-child(9) .about-us-services-item-img {
  background-image: url("../img/about-us-item-img-hover-4.png");
}

.about-us-services-item-img {
  width: 120px;
  height: 120px;
  margin: 12px auto;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-inner-block-item {
  background: #FFF;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 22px;
}

.h5-block {
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
}

.bg-hover-item-about {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  background-image: -moz-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(90deg, #1bdec0 0%, #05aef5 100%);
}

.about-us-services-slider {
  background: #f7fdfe;
  margin: 60px 0;
  position: relative;
}

.about-us-slider-block {
  padding: 50px 20px;
}

.about-us-slider-item img {
  width: auto;
  height: auto;
  display: block;
}

.skillsAboutSlider .owl-dots,
.expert-slider .owl-dots {
  bottom: -70px;
}

.skillsAboutSlider .owl-dots span,
.expert-slider .owl-dots span {
  background: #1ad4b7	!important;
}

.story.about-us-beyondroot {
  width: 100%;
  text-align: left;
}

.story.about-us-beyondroot .story-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.story.about-us-beyondroot .story-text {
  font-size: 20px;
}

.story.about-us-beyondroot .story-show {
  background: none;
  margin-left: 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: right top;
}

.story.about-us-beyondroot .story-show .story-show-inner {
  height: 410px;
  position: relative;
  background-image: none;
  width: 100%;
  margin-left: 0;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.story.about-us-beyondroot .story-show .story-show-inner .overlay {
  opacity: 0.3;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.abouts-us-our-expert {
  text-align: center;
  background-image: url("../img/Blue-triangle-teft.png");
  -webkit-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left 70px;
}

.expert-slider .owl-nav.disabled {
  display: none;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 200px;
  margin-left: auto;
}

.expert-slider .owl-nav.disabled span {
  font-size: 60px;
}

.expert-slider-item {
  text-align: left;
}

.expert-slider-item .expert-item-img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.expert-slider-item .expert-item-img img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.expert-slider-item p {
  font-size: 14px;
}

.about-us-solutions {
  margin-top: 220px;
}

.communication {
  text-align: center;
  margin: 60px 0;
}

.communication .story-show {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 20px 0;
}

.communication .story-show .story-show-inner {
  background-image: url("../img/communication-.png");
}

.communication-inner {
  text-align: left;
  width: 100%;
  max-height: 100%;
}

.communication-inner-disc {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.communication-block-disc {
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  margin: 20px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.communication-block-disc.flex-column-reverse {
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.communication-text {
  margin: 40px 16px;
  text-align: left;
}

.communication-img {
  width: 100%;
  margin: 0;
}

.communication-inner-second {
  margin: 40px 0;
}

.communication-inner-second div {
  margin: 30px 0;
}

.communication-inner-second img {
  height: 100%;
}

.communication-inner-second .communication-text,
.communication-inner-second .img-communication-5 {
  width: 100%;
  margin: 0;
}

.communication-inner-second .communication-text {
  padding: 0 16px;
}

.communication-inner-second .img-communication-4,
.communication-inner-second .img-communication-5 {
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.communication-inner-second .img-communication-4 img,
.communication-inner-second .img-communication-5 img {
  opacity: 0;
}

.communication-inner-second .img-communication-5 {
  background-image: url("../img/communication-5.png");
}

.communication-inner-second .img-communication-4 {
  background-image: url("../img/communication-4.png");
}

.communication-inner-three .communication-img {
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0;
}

.communication-inner-three .communication-img img {
  height: 100%;
}

.communication-inner-three .communication-text {
  width: 300px;
}

.communication-inner-first-block {
  margin: 30px 0;
}

.communication-inner-img-three {
  margin: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.communication-inner-img-three:nth-child(1) {
  margin-right: 5px;
}

.communication-inner-img-three:nth-child(2) {
  margin-left: 5px;
}

.communication-inner-three-right {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.communication-inner-three-img {
  height: 100%;
}

.about-us-last-section {
  margin: 20px 0;
  padding: 40px 0;
  background: #f5fcfe;
}

.about-us-last-section h3 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-last-section a {
  display: block;
  width: 44px;
  height: 33px;
  background: url("../img/carrer-right-arrow.png") no-repeat;
}

.about-us-last {
  margin: 30px auto;
}

/*********next page for document Industry************/

.industry {
  min-height: 600px;
  position: relative;
}

.industry .overlay {
  opacity: 1;
  top: 0;
}

.industry .inner-block p:nth-child(2) {
  font-size: 30px;
  width: 600px;
  font-weight: normal;
}

.industry-content {
  padding: 150px 0;
  background-image: none;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.industry-content section {
  min-height: 340px;
  -webkit-align-items: inherit;
  align-items: inherit;
  margin: 50px 0;
}

.industry-content section:nth-child(2n) {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  min-height: 340px;
}

.industry-content section:nth-child(2n) .industry-inner-content-img {
  left: 50%;
  top: 50%;
  margin-top: -65px;
  margin-left: -150px;
}

.industry-content section:nth-child(2n) .industry-inner-content:nth-child(2) {
  min-height: 340px;
  background-image: none;
  -webkit-background-size: 300px;
  -o-background-size: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
}

/*general industry inner content style*/

.industry-inner-content {
  position: relative;
  text-align: center;
  min-height: 300px;
}

.industry-inner-content:nth-child(1) {
  max-width: 440px;
  margin: 20px auto;
}

.industry-inner-content h5 {
  font-size: 36px;
  font-weight: 600;
  margin: 16px 0px;
  position: relative;
}

.industry-inner-content h5 i {
  color: #1bdec0;
  font-weight: 800;
  display: block;
}

.industry-inner-content h5:after {
  content: "";
  display: none;
  position: absolute;
  top: -14px;
  left: -10px;
  width: 50px;
  height: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e1f6f7;
  z-index: 0;
}

.industry-inner-content h5:before {
  content: "";
  height: 60px;
  width: 60px;
  margin: 20px 0;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
  position: relative;
  z-index: 1;
}

.industry-inner-content .squer7 {
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  background: #E6F7FE;
  z-index: 0;
}

.industry-inner-content .industry-inner-content-img {
  width: 190px;
  height: 194px;
  position: absolute;
  bottom: 10px;
  left: 10%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.industry-content section:nth-child(2n) .squer7 {
  background: #E8FCF9;
}

/*industry inner content style*/

/*add img in section*/

.industry-inner-1 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-1 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-1.png");
}

.industry-inner-2 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/TwoPersons.svg");
}

.industry-inner-2 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-2.png");
}

.industry-inner-3 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/OnePerson.svg");
}

.industry-inner-3 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-3.png");
}

.industry-inner-4 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-4 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-4.png");
}

.industry-inner-5 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-5 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-5.png");
}

.industry-inner-6 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-6 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-6.png");
}

.industry-inner-7 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-7 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-7.png");
}

.industry-inner-8 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-8 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-8.png");
}

.industry-inner-9 .industry-inner-content:nth-child(1) h5:before {
  background-image: url("../img/threePerson.svg");
}

.industry-inner-9 .industry-inner-content .industry-inner-content-img {
  background-image: url("../img/industry-inner-img-9.png");
}

.address-industry {
  width: 100%;
  background: #FFF;
  position: absolute;
  bottom: 0;
}

.industry-contact {
  position: relative;
  background-image: none;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.industry-contact .overlay {
  height: 95%;
  top: 0;
}

.industry-contact .container {
  position: relative;
  z-index: 20;
}

.industry-contact .contact-block {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;
}

.industry-contact .contact-block input,
.industry-contact .contact-block textarea,
.industry-contact .contact-block .submit-message {
  color: #FFF;
  border: 1px solid #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  font-weight: normal;
}

.industry-contact .contact-block input::-webkit-input-placeholder {
  color: #fff;
}

.industry-contact .contact-block input::-moz-placeholder {
  color: #fff;
}

.industry-contact .contact-block input:-moz-placeholder {
  color: #fff;
}

.industry-contact .contact-block input:-ms-input-placeholder {
  color: #fff;
}

.industry-contact .contact-block textarea::-webkit-input-placeholder {
  color: #fff;
}

.industry-contact .contact-block textarea::-moz-placeholder {
  color: #fff;
}

.industry-contact .contact-block textarea:-moz-placeholder {
  color: #fff;
}

.industry-contact .contact-block textarea:-ms-input-placeholder {
  color: #fff;
}

.industry-contact .header-section:before {
  display: none;
}

/*********next page for document Career************/

.career {
  min-height: 600px;
}

.career .overlay {
  opacity: 0.8;
  top: 0;
}

.career .inner-block p {
  font-size: 38px;
  max-width: 740px;
  font-weight: normal;
}

.career .inner-block p:nth-child(1) {
  font-weight: 700;
}

.recent-jobs-section {
  background: #f7f9f9;
}

.recent-jobs-list {
  font-size: 30px;
  box-shadow: 0 10px 16px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recent-jobs-list li {
  background: #FFF;
  padding: 40px 10px;
}

.recent-jobs-list li:nth-child(1) {
  background: #EEE !important;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}

.recent-jobs-list li:nth-child(1) p {
  text-transform: uppercase;
}

.recent-jobs-list li:nth-child(1) p:nth-child(2) {
  display: block;
  margin-left: -105px;
}

.recent-jobs-list li:last-child {
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recent-jobs-list li:nth-child(2n+1) {
  background: #f7fdfe;
}

.recent-jobs-list h5 {
  font-weight: 700;
  margin: 6px;
}

.recent-jobs-list span {
  margin: 6px;
}

.recent-jobs-list a {
  margin: 6px;
}

.succeed-together-block {
  text-align: center;
  margin: 0px 0 60px;
  padding: 30px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.succeed-together-block:hover {
  color: #FFF;
  background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
}

.succeed-together-block:hover .succeed-together-img {
  background-image: url("../img/success-hover.png");
}

.succeed-together-block .succeed-together-img {
  width: 155px;
  height: 155px;
  margin: 20px auto;
  background-image: url("../img/success.png");
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.succeed-together-block .inner-header {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.career-slider-section {
  margin: 60px 0;
}

.career-slider-section .inner-header {
  font-size: 30px;
  font-weight: 700;
  max-width: 900px;
}

.career-img {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.career-slider {
  margin: 70px 0;
  width: 100%;
}

.career-slider .owl-nav span {
  font-size: 60px;
}

.career-slider .owl-dots {
  bottom: -50px;
}

.career-slider .owl-dots span {
  background: #1ad4b7	!important;
}

#downloadFile {
  display: block;
  opacity: 0;
  width: 1px;
  position: absolute;
  zoom: -999;
}

.block-download {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  padding: 16px 18px;
  margin: 7px 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.text-download {
  font-size: 14px;
  display: block;
}

.img-download {
  width: 15px;
  height: 18px;
  display: block;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 24px;
  right: 18px;
  width: 11px;
  height: 8px;
  background-image: url("../img/arrow-select.png");
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 24px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 16px 16px;
  cursor: pointer;
  user-select: none;
  text-align: left;
  font-size: 14px;
  color: #3d3d41;
}

.select-items {
  position: absolute;
  width: 100%;
  background-color: #fff !important;
  top: 100%;
  left: 0px;
  right: 0;
  z-index: 99;
}

.select-items div {
  border-bottom: 1px solid #bdbdbd;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .services-content {
    padding: 30px 84px;
  }

  .firm {
    width: 230px;
  }

  .about-us-services-item {
    width: 340px;
    height: 340px;
  }

  .story.about-us-beyondroot .story-text {
    font-size: 30px;
  }

  .industry-inner-content .squer7 {
    margin-left: -125px;
    margin-top: -125px;
    width: 250px;
    height: 250px;
  }

  .recent-jobs-section {
    background: #FFF;
  }

  .recent-jobs-list li {
    padding: 40px 25px;
  }
}

@media screen and (min-width: 640px) {
  .squer5 {
    height: 98%;
  }

  .inner-block p {
    font-size: 40px;
    width: 70%;
  }

  .header-section:before {
    display: block;
  }

  .services-content {
    width: 100%;
  }

  .up-div {
    margin-top: -80px;
  }

  .contact .squer3 {
    width: 50%;
  }

  .soc {
    color: #FFF;
    margin-top: 0;
  }

  .soc a:nth-child(1):before {
    background-image: url("../img/facebook.png");
  }

  .soc a:nth-child(2):before {
    background-image: url("../img/linkidin.png");
  }

  .soc a p {
    display: inline;
  }

  footer {
    text-align: center;
  }

  .about-us-circle-block .circul-section section {
    margin: 50px 0;
  }

  .about-us-circle-block .circul {
    width: 170px;
    height: 170px;
    font-size: 48px;
    padding: 44px 0;
  }

  .communication-inner-second .communication-text,
  .communication-inner-second .img-communication-5 {
    width: 280px;
    margin: 0 10px;
  }

  .about-us-last {
    margin: 0px 0px 0px auto;
  }

  .industry-content {
    background-image: url("../img/industry-inner-bg.png");
  }

  .industry-content section {
    -webkit-align-items: center;
    align-items: center;
  }

  .industry-inner-content {
    text-align: left;
  }

  .industry-inner-content:nth-child(1) {
    margin: 0;
  }

  .industry-inner-content h5 i {
    display: inline;
  }

  .industry-inner-content h5:after {
    display: block;
  }

  .industry-inner-content h5:before {
    display: block;
  }

  .address-industry {
    background: transparent;
    color: #FFF;
  }

  .industry-contact {
    background-image: url("../img/img2.jpg");
  }

  .industry-contact .overlay {
    height: 100%;
  }

  .recent-jobs-list li {
    padding: 40px 0px;
  }

  .recent-jobs-list li:nth-child(1) {
    display: flex;
  }
}

@media screen and (min-width: 780px) {
  .communication-block-disc {
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }

  .communication-block-disc.flex-column-reverse {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }

  .communication-img {
    width: 300px;
    margin: 0 16px;
  }

  .recent-jobs-list li {
    padding: 40px 50px;
  }
}

@media screen and (min-width: 960px) {
  .squer1,
  .squer2 {
    display: block;
  }

  .squer4 {
    display: block;
  }

  .squer6 {
    width: 65%;
    height: 100%;
  }

  nav.flex {
    position: static;
    width: auto;
    display: flex;
    text-align: left;
    opacity: 1;
    color: #FFF;
  }

  nav.flex li {
    margin-right: 20px;
  }

  nav.flex li a {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }

  nav.flex li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  nav.flex li a:hover {
    background: none;
    color: inherit;
  }

  nav.flex li a:hover:before {
    left: 20%;
    right: 20%;
  }

  nav.flex a.nav-item-active {
    color: #FFF;
    background: none;
  }

  nav.flex a.nav-item-active:before {
    left: 20%;
    right: 20%;
  }

  nav.flex li a.button {
    background-image: none;
    background-color: #FFF;
    margin: 0;
    width: inherit;
    color: #05aef5;
  }

  nav.flex li a.button:hover {
    color: #fff;
    border-color: #FFF;
    background: transparent;
  }

  .header-fixed nav.flex .nav-item-active {
    color: #05aef5;
  }

  .header-fixed nav.flex a:hover {
    color: #05aef5;
  }

  .header-fixed nav.flex a.button {
    color: #FFF;
    background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
    background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
    background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #05aef5 100%);
  }

  .header-fixed nav.flex a.button:hover {
    background-image: -moz-linear-gradient(100deg, #1bdec0 0%, #1bdec0 100%);
    background-image: -webkit-linear-gradient(100deg, #1bdec0 0%, #1bdec0 100%);
    background-image: -ms-linear-gradient(100deg, #1bdec0 0%, #1bdec0 100%);
  }

  .block-toggle {
    display: none;
  }

  .story {
    margin: 0;
    max-width: 95%;
  }

  .story-show {
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .story-content {
    margin-left: 8%;
  }

  .slider-portolio {
    max-height: 900px;
  }

  .portfolio .owl-nav {
    display: flex;
  }

  .solutions .squer3:before {
    top: 22%;
    left: 60%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .solutions h3 {
    color: #fff;
  }

  .user-slider .owl-dots {
    display: none;
  }

  .user-slider .owl-carousel .owl-nav {
    display: block;
  }

  .story.about-us-beyondroot {
    margin: 60px 0px 60px auto;
    max-width: 1600px;
    width: 95%;
  }

  .story.about-us-beyondroot .story-content {
    margin-right: 8%;
    max-width: 570px;
  }

  .story.about-us-beyondroot .story-show {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: auto;
    background-image: url("../img/about-image-bg-pink.png");
  }

  .story.about-us-beyondroot .story-show .story-show-inner {
    margin-left: auto;
    max-height: 410px;
    max-width: 645px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .story.about-us-beyondroot .story-show .story-show-inner .overlay {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .expert-slider .owl-nav.disabled {
    display: flex;
  }

  .communication-inner-first-block {
    margin: 0;
  }

  .communication-inner-img-three {
    margin: 0 0 0 10px;
  }

  .communication-inner-three-right {
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }

  .industry-content section:nth-child(2n) {
    min-height: 660px;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .industry-content section:nth-child(2n) .industry-inner-content:nth-child(2) {
    background-image: url("../img/border-dots.png");
    min-height: 660px;
    min-width: 50%;
  }

  .career-img {
    width: 450px;
    margin: 0;
  }

  .career-slider {
    margin: -97px 0px 0px 30px;
    width: 50%;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .career-slider .owl-nav {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
  }
}

@media screen and (min-width: 1100px) {
  .communication-inner {
    max-height: 670px;
    width: 90%;
    margin-left: auto;
  }

  .communication-inner-disc {
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }

  .communication-block-disc {
    margin: 0px 0 20px;
  }

  .career-img {
    width: 510px;
  }
}

@media screen and (min-width: 1200px) {
  .career-img {
    width: auto;
  }
}

@media screen and (min-height: 450px) {
  nav.nav-open {
    overflow-y: none;
  }
}