/****Grid layout settings****/

/*General for documetn settings*/

/*Color*/

/*Typography*/

/*h1*/

/*nav block*/

/*section block*/

/*container block*/

/*wrapper block*/

/*nav toggle*/

/*btn up*/

/*General styles*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 16px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
em,
strong {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin: 0px 0px 0px 0px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 18px;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav {
  font-family: "Montserrat", sans-serif;
}

nav a {
  font-size: 12px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

nav ul li {
  margin: 10px 0px;
}

input,
textarea,
button {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}

/*container-block*/

.container-block {
  margin: 40px 0;
}

/*wrapper*/

.wrapper {
  max-width: 730px;
  margin: 0 auto;
  text-align: left;
  padding: 42px;
}

/*container*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/*section-block*/

.section-block {
  margin: 0px;
  padding: 20px 0px;
}

.img img {
  width: 100%;
  height: auto;
}

/*nav-toggle-block*/

.block-toggle {
  display: block;
}

.block-toggle span {
  margin-left: auto;
}

.nav-toggle-block {
  margin: 0px;
  cursor: pointer;
  display: block;
  width: 42px;
  height: 39px;
  position: relative;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-toggle-line {
  width: 80%;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: block;
  height: 3px;
  background: #000;
  position: absolute;
  left: 3px;
  top: 0;
  -webkit-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
  transition: background 0.3s, opacity 0.35s 0.2s, top 0.2s 0.4s, transform 0.2s 0.2s ease;
}

.nav-toggle-line:nth-child(1) {
  top: 5px;
}

.nav-toggle-line:nth-child(2) {
  top: 17px;
}

.nav-toggle-line:nth-child(3) {
  top: 29px;
}

.nav-toggle-line.active-line {
  -webkit-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -moz-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -ms-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  -o-transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  transition: background 0.3s, opacity 0.35s 0.4s, top 0.2s 0.2s, transform 0.3s 0.4s ease;
  background: #fff;
}

.nav-toggle-line.active-line:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle-line.active-line:nth-child(2) {
  opacity: 0;
}

.nav-toggle-line.active-line:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*end nav toggle*/

/*start btn up*/

.btn-up {
  display: block;
  background: #333;
  border-radius: 90%;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 1000;
  right: 10px;
  bottom: -50px;
  cursor: pointer;
  outline: 0 !important;
  transition: 0.4s;
  opacity: 0.6;
}

.btn-up:after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-up.active {
  bottom: 10px;
}

/*end btn up*/

/*flex-blocks grid layout*/

.flex {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-sa {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-sb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-vertical-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center;
}

.flex-vertical-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-vertical-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

.item-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.item-center {
  -webkit-align-self: center;
  align-self: center;
}

.item-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/*flex-block small device*/

/*flex-block middle device*/

/*flex-block semi middle device*/

/*flex-block large device*/

/*flex-block extra large device*/

/*grid layout with width*/

.col-1 {
  width: calc(8.33333% - 0px);
}

.col-2 {
  width: calc(16.66667% - 0px);
}

.col-2-5 {
  width: calc(20% - 0px);
}

.col-3 {
  width: calc(25% - 0px);
}

.col-4 {
  width: calc(33.33333% - 0px);
}

.col-5 {
  width: calc(41.66667% - 0px);
}

.col-6 {
  width: calc(50% - 0px);
}

.col-7 {
  width: calc(58.33333% - 0px);
}

.col-8 {
  width: calc(66.66667% - 0px);
}

.col-9 {
  width: calc(75% - 0px);
}

.col-10 {
  width: calc(83.33333% - 0px);
}

.col-11 {
  width: calc(91.66667% - 0px);
}

.col-12 {
  width: calc(100% - 0px);
}

/*grid layout middle device*/

/*grid layout middle device*/

/*grid layout semimiddle device*/

/*grid layout large device*/

/*grid layout extra large device*/

/*grid layout with flex*/

.grid-1 {
  flex-basis: calc(8.33333% - 0px);
}

.grid-2 {
  flex-basis: calc(16.66667% - 0px);
}

.grid-2-5 {
  flex-basis: calc(20% - 0px);
}

.grid-3 {
  flex-basis: calc(25% - 0px);
}

.grid-4 {
  flex-basis: calc(33.33333% - 0px);
}

.grid-5 {
  flex-basis: calc(41.66667% - 0px);
}

.grid-6 {
  flex-basis: calc(50% - 0px);
}

.grid-7 {
  flex-basis: calc(58.33333% - 0px);
}

.grid-8 {
  flex-basis: calc(66.66667% - 0px);
}

.grid-9 {
  flex-basis: calc(75% - 0px);
}

.grid-10 {
  flex-basis: calc(83.33333% - 0px);
}

.grid-12 {
  flex-basis: calc(91.66667% - 0px);
}

.grid-12 {
  flex-basis: calc(100% - 0px);
}

/*grid layout small device*/

/*grid layout middle device*/

/*grid layout semi middle device*/

/*grid layout large device*/

/*grid layout extra large device*/

@media screen and (min-width: 480px) {
  .flex-sd-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-sd-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-sd-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .flex-sd-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex-sd-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flex-sd-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-sd-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex-sd-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .flex-sd-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-sd-vertical-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-sd-vertical-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-sd-vertical-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-sd-vertical-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .item-sd-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  .item-sd-center {
    -webkit-align-self: center;
    align-self: center;
  }

  .item-sd-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .col-sd-1 {
    width: calc(8.33333% - 50px);
  }

  .col-sd-2 {
    width: calc(16.66667% - 50px);
  }

  .col-sd-2-5 {
    width: calc(20% - 50px);
  }

  .col-sd-3 {
    width: calc(25% - 50px);
  }

  .col-sd-4 {
    width: calc(33.33333% - 50px);
  }

  .col-sd-5 {
    width: calc(41.66667% - 50px);
  }

  .col-sd-6 {
    width: calc(50% - 50px);
  }

  .col-sd-7 {
    width: calc(58.33333% - 50px);
  }

  .col-sd-8 {
    width: calc(66.66667% - 50px);
  }

  .col-sd-9 {
    width: calc(75% - 50px);
  }

  .col-sd-10 {
    width: calc(83.33333% - 50px);
  }

  .col-sd-11 {
    width: calc(91.66667% - 50px);
  }

  .col-sd-12 {
    width: calc(100% - 50px);
  }

  .grid-sd-1 {
    flex-basis: calc(8.33333% - 50px);
  }

  .grid-sd-2 {
    flex-basis: calc(16.66667% - 50px);
  }

  .grid-sd-2-5 {
    flex-basis: calc(20% - 50px);
  }

  .grid-sd-3 {
    flex-basis: calc(25% - 50px);
  }

  .grid-sd-4 {
    flex-basis: calc(33.33333% - 50px);
  }

  .grid-sd-5 {
    flex-basis: calc(41.66667% - 50px);
  }

  .grid-sd-6 {
    flex-basis: calc(50% - 50px);
  }

  .grid-sd-7 {
    flex-basis: calc(58.33333% - 50px);
  }

  .grid-sd-8 {
    flex-basis: calc(66.66667% - 50px);
  }

  .grid-sd-9 {
    flex-basis: calc(75% - 50px);
  }

  .grid-sd-10 {
    flex-basis: calc(83.33333% - 50px);
  }

  .grid-sd-11 {
    flex-basis: calc(91.66667% - 50px);
  }
}

@media screen and (min-width: 640px) {
  html,
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 60px;
  }

  .container {
    max-width: 1115px;
    padding: 20px;
  }

  .section-block {
    margin: 0px;
    padding: 40px 0px;
  }

  .flex-md-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-md-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-md-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .flex-md-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex-md-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flex-md-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-md-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex-md-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .flex-md-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-md-vertical-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-md-vertical-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-md-vertical-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-md-vertical-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .item-md-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  .item-md-center {
    -webkit-align-self: center;
    align-self: center;
  }

  .item-md-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .col-md-1 {
    width: calc(8.33333% - 50px);
  }

  .col-md-2 {
    width: calc(16.66667% - 50px);
  }

  .col-md-2-5 {
    width: calc(20% - 50px);
  }

  .col-md-3 {
    width: calc(25% - 50px);
  }

  .col-md-4 {
    width: calc(33.33333% - 50px);
  }

  .col-md-5 {
    width: calc(41.66667% - 50px);
  }

  .col-md-6 {
    width: calc(50% - 50px);
  }

  .col-md-7 {
    width: calc(58.33333% - 50px);
  }

  .col-md-8 {
    width: calc(66.66667% - 50px);
  }

  .col-md-9 {
    width: calc(75% - 50px);
  }

  .col-md-10 {
    width: calc(83.33333% - 50px);
  }

  .col-md-11 {
    width: calc(91.66667% - 50px);
  }

  .col-md-12 {
    width: calc(100% - 50px);
  }

  .grid-md-12 {
    flex-basis: calc(100% - 50px);
  }

  .grid-md-1 {
    flex-basis: calc(8.33333% - 50px);
  }

  .grid-md-2 {
    flex-basis: calc(16.66667% - 50px);
  }

  .grid-md-2-5 {
    flex-basis: calc(20% - 50px);
  }

  .grid-md-3 {
    flex-basis: calc(25% - 50px);
  }

  .grid-md-4 {
    flex-basis: calc(33.33333% - 50px);
  }

  .grid-md-5 {
    flex-basis: calc(41.66667% - 50px);
  }

  .grid-md-6 {
    flex-basis: calc(50% - 50px);
  }

  .grid-md-7 {
    flex-basis: calc(58.33333% - 50px);
  }

  .grid-md-8 {
    flex-basis: calc(66.66667% - 50px);
  }

  .grid-md-9 {
    flex-basis: calc(75% - 50px);
  }

  .grid-md-10 {
    flex-basis: calc(83.33333% - 50px);
  }

  .grid-md-11 {
    flex-basis: calc(91.66667% - 50px);
  }

  .grid-md-12 {
    flex-basis: calc(100% - 50px);
  }
}

@media screen and (min-width: 780px) {
  nav ul li {
    margin-right: 0px;
    margin-left: 20px;
  }

  .block-toggle {
    display: none;
  }

  .flex-smd-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-smd-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-smd-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .flex-smd-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex-smd-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flex-smd-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-smd-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex-smd-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .flex-smd-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-smd-vertical-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-smd-vertical-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-smd-vertical-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-smd-vertical-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .item-smd-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  .item-smd-center {
    -webkit-align-self: center;
    align-self: center;
  }

  .item-smd-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .col-smd-1 {
    width: calc(8.33333% - 50px);
  }

  .col-smd-2 {
    width: calc(16.66667% - 50px);
  }

  .col-smd-2-5 {
    width: calc(20% - 50px);
  }

  .col-smd-3 {
    width: calc(25% - 50px);
  }

  .col-smd-4 {
    width: calc(33.33333% - 50px);
  }

  .col-smd-5 {
    width: calc(41.66667% - 50px);
  }

  .col-smd-6 {
    width: calc(50% - 50px);
  }

  .col-smd-7 {
    width: calc(58.33333% - 50px);
  }

  .col-smd-8 {
    width: calc(66.66667% - 50px);
  }

  .col-smd-9 {
    width: calc(75% - 50px);
  }

  .col-smd-10 {
    width: calc(83.33333% - 50px);
  }

  .col-smd-11 {
    width: calc(91.66667% - 50px);
  }

  .col-smd-12 {
    width: calc(100% - 50px);
  }

  .grid-smd-1 {
    flex-basis: calc(8.33333% - 50px);
  }

  .grid-smd-2 {
    flex-basis: calc(16.66667% - 50px);
  }

  .grid-smd-2-5 {
    flex-basis: calc(20% - 50px);
  }

  .grid-smd-3 {
    flex-basis: calc(25% - 50px);
  }

  .grid-smd-4 {
    flex-basis: calc(33.33333% - 50px);
  }

  .grid-smd-5 {
    flex-basis: calc(41.66667% - 50px);
  }

  .grid-smd-6 {
    flex-basis: calc(50% - 50px);
  }

  .grid-smd-7 {
    flex-basis: calc(58.33333% - 50px);
  }

  .grid-smd-8 {
    flex-basis: calc(66.66667% - 50px);
  }

  .grid-smd-9 {
    flex-basis: calc(75% - 50px);
  }

  .grid-msd-10 {
    flex-basis: calc(83.33333% - 50px);
  }

  .grid-msd-11 {
    flex-basis: calc(91.66667% - 50px);
  }

  .grid-msd-12 {
    flex-basis: calc(100% - 50px);
  }
}

@media screen and (min-width: 960px) {
  .flex-ld-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-ld-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-ld-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .flex-ld-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex-ld-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flex-ld-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-ld-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex-ld-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .flex-ld-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-ld-vertical-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-ld-vertical-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-ld-vertical-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-ld-vertical-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .item-ld-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  .item-ld-center {
    -webkit-align-self: center;
    align-self: center;
  }

  .item-ld-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .col-ld-1 {
    width: calc(8.33333% - 50px);
  }

  .col-ld-2 {
    width: calc(16.66667% - 50px);
  }

  .col-ld-2-5 {
    width: calc(20% - 50px);
  }

  .col-ld-3 {
    width: calc(25% - 50px);
  }

  .col-ld-4 {
    width: calc(33.33333% - 50px);
  }

  .col-ld-5 {
    width: calc(41.66667% - 50px);
  }

  .col-ld-6 {
    width: calc(50% - 50px);
  }

  .col-ld-7 {
    width: calc(58.33333% - 50px);
  }

  .col-ld-8 {
    width: calc(66.66667% - 50px);
  }

  .col-ld-9 {
    width: calc(75% - 50px);
  }

  .col-ld-10 {
    width: calc(83.33333% - 50px);
  }

  .col-ld-11 {
    width: calc(91.66667% - 50px);
  }

  .col-ld-12 {
    width: calc(100% - 50px);
  }

  .grid-ld-1 {
    flex-basis: calc(8.33333% - 50px);
  }

  .grid-ld-2 {
    flex-basis: calc(16.66667% - 50px);
  }

  .grid-ld-2-5 {
    flex-basis: calc(20% - 50px);
  }

  .grid-ld-3 {
    flex-basis: calc(25% - 50px);
  }

  .grid-ld-4 {
    flex-basis: calc(33.33333% - 50px);
  }

  .grid-ld-5 {
    flex-basis: calc(41.66667% - 50px);
  }

  .grid-ld-6 {
    flex-basis: calc(50% - 50px);
  }

  .grid-ld-7 {
    flex-basis: calc(58.33333% - 50px);
  }

  .grid-ld-8 {
    flex-basis: calc(66.66667% - 50px);
  }

  .grid-ld-9 {
    flex-basis: calc(75% - 50px);
  }

  .grid-ld-10 {
    flex-basis: calc(83.33333% - 50px);
  }

  .grid-ld-11 {
    flex-basis: calc(91.66667% - 50px);
  }

  .grid-ld-12 {
    flex-basis: calc(100% - 50px);
  }
}

@media screen and (min-width: 1100px) {
  .flex-xld-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-xld-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-xld-row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .flex-xld-column-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .flex-xld-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .flex-xld-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flex-xld-center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex-xld-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .flex-xld-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .flex-xld-vertical-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-xld-vertical-center {
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-xld-vertical-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .flex-xld-vertical-stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }

  .item-xld-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  .item-xld-center {
    -webkit-align-self: center;
    align-self: center;
  }

  .item-xld-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .col-xld-1 {
    width: calc(8.33333% - 50px);
  }

  .col-xld-2 {
    width: calc(16.66667% - 50px);
  }

  .col-xld-2-5 {
    width: calc(20% - 50px);
  }

  .col-xld-3 {
    width: calc(25% - 50px);
  }

  .col-xld-4 {
    width: calc(33.33333% - 50px);
  }

  .col-xld-5 {
    width: calc(41.66667% - 50px);
  }

  .col-xld-6 {
    width: calc(50% - 50px);
  }

  .col-xld-7 {
    width: calc(58.33333% - 50px);
  }

  .col-xld-8 {
    width: calc(66.66667% - 50px);
  }

  .col-xld-9 {
    width: calc(75% - 50px);
  }

  .col-xld-10 {
    width: calc(83.33333% - 50px);
  }

  .col-xld-11 {
    width: calc(91.66667% - 50px);
  }

  .col-xld-12 {
    width: calc(100% - 50px);
  }

  .grid-xld-1 {
    flex-basis: calc(8.33333% - 50px);
  }

  .grid-xld-2 {
    flex-basis: calc(16.66667% - 50px);
  }

  .grid-xld-2-5 {
    flex-basis: calc(20% - 50px);
  }

  .grid-xld-3 {
    flex-basis: calc(25% - 50px);
  }

  .grid-xld-4 {
    flex-basis: calc(33.33333% - 50px);
  }

  .grid-xld-5 {
    flex-basis: calc(41.66667% - 50px);
  }

  .grid-xld-6 {
    flex-basis: calc(50% - 50px);
  }

  .grid-xld-7 {
    flex-basis: calc(58.33333% - 50px);
  }

  .grid-xld-8 {
    flex-basis: calc(66.66667% - 50px);
  }

  .grid-xld-9 {
    flex-basis: calc(75% - 50px);
  }

  .grid-xld-10 {
    flex-basis: calc(83.33333% - 50px);
  }

  .grid-xld-11 {
    flex-basis: calc(91.66667% - 50px);
  }

  .grid-xld-12 {
    flex-basis: calc(100% - 50px);
  }
}