/****Grid layout settings****/

/*General for documetn settings*/

/*Color*/

/*Typography*/

/*h1*/

/*nav block*/

/*section block*/

/*container block*/

/*wrapper block*/

/*nav toggle*/

/*btn up*/

@import url("grid.css");

@import url("owl.carousel.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

@font-face {
  font-family: 'Product Sans Regular';
  src: url("../fonts/Product-Sans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url("../fonts/Product-Sans-Bold.ttf");
  font-weight: normal;
}

body {
  min-width: 768px !important;
  background: #F1F0F0;
}

.global-btn {
  background: #f6c900;
  padding: 20px 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #100F0E;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.global-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151414;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.global-btn:hover,
.global-btn:focus,
.global-btn:active {
  color: #F6C900;
}

.global-btn:hover:before,
.global-btn:focus:before,
.global-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-btn {
  background: #000;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  width: 130px;
  height: 48px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-btn span {
  position: absolute;
  display: block;
  left: 21px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-btn svg {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-btn:hover span {
  transform: translateY(200%);
}

.header-btn:hover svg {
  top: 50%;
}

.title-h4 {
  color: #2b0f00;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.toggle-top-search,
.toggle-top-home-search {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle-top-search.visibility,
.toggle-top-home-search.visibility {
  -webkit-transform: translateY(-2%);
  -moz-transform: translateY(-2%);
  -ms-transform: translateY(-2%);
  -o-transform: translateY(-2%);
  transform: translateY(-2%);
}

.global-box-shadow {
  -webkit-box-shadow: 0px 10px 10px -6px rgba(125, 125, 125, 0.2);
  box-shadow: 0px 10px 10px -6px rgba(125, 125, 125, 0.2);
}

/*header*/

header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

header .container {
  padding: 10px 30px;
}

header ul {
  font-size: 17px;
  margin-right: 20px;
}

header ul a:hover {
  text-decoration: underline;
}

.header-home .title-header-list a:hover {
  text-decoration: none;
}

.header-home .title-header-list a:after {
  border-color: #fff;
}

.logo img {
  width: auto;
}

.logo ul {
  margin-left: 20px;
  margin-bottom: 2px;
}

.btn-header {
  text-transform: uppercase;
  font-family: 'Product Sans Bold';
}

.title-header-list span {
  cursor: pointer;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.title-header-list span:after {
  content: "";
  display: block;
  margin-left: 10px;
  margin-bottom: 2px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu ul {
  width: 200px;
  display: none;
  padding: 25px 20px;
  margin: 0;
  right: -44px;
  top: 36px;
  background-color: #FFF;
  position: absolute;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #acacac;
  z-index: 100;
  line-height: 38px;
}

.dropdown-menu ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -14px;
  right: 36px;
  border-top: 0px solid transparent;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  border-bottom: 14px solid #fff;
}

.dropdown-menu ul li:nth-child(1) a:before {
  background-image: url("../img/profile.png");
}

.dropdown-menu ul li:nth-child(2) a:before {
  background-image: url("../img/my-ads.png");
}

.dropdown-menu ul li:nth-child(3) a:before {
  background-image: url("../img/messages.png");
}

.dropdown-menu ul li:nth-child(4) a:before {
  background-image: url("../img/favorite-ads.png");
}

.dropdown-menu ul li:nth-child(5) a:before {
  background-image: url("../img/receently-viewed.png");
}

.dropdown-menu ul li:nth-child(6) {
  border-top: 1px solid #acacac;
  margin-top: 6px;
  padding-top: 4px;
}

.dropdown-menu ul li:nth-child(6) a:before {
  background-image: url("../img/log-out.png");
}

.dropdown-menu ul li a {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.dropdown-menu ul li a:before {
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

/*top page*/

.top-page {
  position: relative;
  height: 395px;
}

.overlay {
  background: #000;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.top-carousel {
  height: 100%;
}

.top-carousel .owl-nav {
  position: absolute;
  z-index: 0;
  top: 45%;
  max-width: 1100px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.top-carousel .owl-nav button.owl-prev,
.top-carousel .owl-nav button.owl-next {
  background: rgba(80, 80, 80, 0.4) !important;
  padding: 0px 0px 1px !important;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.top-carousel .owl-nav button:nth-child(2) {
  position: absolute;
  right: 0;
}

.top-carousel .owl-nav button span {
  font-size: 40px;
  color: #FFF;
  display: block;
  position: relative;
  bottom: 2px;
}

.top-carousel .owl-stage-outer {
  height: 100%;
}

.top-carousel .owl-stage-outer .owl-stage {
  height: 100%;
}

.top-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

.top-carousel .item-carousel {
  height: 100%;
  color: #fff;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.top-carousel .item-carousel .container {
  position: relative;
  padding: 20px 135px;
}

.top-carousel .item-carousel .img {
  width: 130px;
  margin-right: 30px;
}

.top-carousel .item-carousel:nth-child(1) {
  background-image: url("https://source.unsplash.com/random/6");
}

.top-carousel .item-carousel:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/7");
}

.top-carousel .item-carousel:nth-child(3) {
  background-image: url("https://source.unsplash.com/random/8");
}

.inner-block span {
  font-size: 19px;
  margin-bottom: 10px;
}

.carousel-title {
  font-size: 34px;
}

.carousel-btn {
  max-width: 100px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.carousel-btn:hover {
  background: #fff;
  color: #000;
}

/*category section*/

.category-section {
  background: #FFF;
}

.search-block {
  background: transparent;
  position: relative;
  z-index: 10;
  margin-top: -120px;
  margin-bottom: 100px;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
  border: 6px solid #f4c900;
  padding: 30px 160px 30px 20px;
  font-size: 18px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #666;
}

.search-form button {
  position: absolute;
  border: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.popular-tags {
  padding: 20px 0px;
}

.popular-tags a {
  background: #e7e7e7;
  color: #999;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.popular-tags a:hover {
  background: #d0d0d0;
}

.title {
  text-align: center;
  line-height: 36px;
}

.title span {
  color: #999999;
  font-size: 18px;
}

.section-title {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

.category-btn {
  padding: 25px 86px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.category-site {
  margin: 30px 50px;
}

.category-site .box-category {
  width: calc(66.66667% - 10px);
}

.category-site .box-category > div {
  display: flex;
  height: 220px;
}

.category-site .box-category > div:first-child {
  margin-bottom: 20px;
}

.category-site .category-item {
  padding: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.category-site .category-item:hover .number-ads {
  opacity: 1;
}

.category-site .category-item .number-ads {
  color: #FFF;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  display: inline-block;
  opacity: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 16px 10px;
  line-height: 24px;
  font-size: 18px;
  min-width: 80px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.category-site .category-item .number-ads span {
  display: block;
}

.category-site .category-item.item-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  min-height: 460px;
  width: calc(33.33333% - 10px);
  background-image: url("https://source.unsplash.com/random/1");
}

.category-site .category-item.item-1 .number-ads {
  background: rgba(197, 137, 208, 0.7);
}

.category-site .category-item.item-1:hover {
  -webkit-box-shadow: inset 0px -7px 0px 0px #c589d0;
  box-shadow: inset 0px -7px 0px 0px #c589d0;
}

.category-site .category-item.item-2 {
  max-width: 375px;
  width: 100%;
  text-align: right;
  background-image: url("https://source.unsplash.com/random/2");
}

.category-site .category-item.item-2 .number-ads {
  background: rgba(244, 201, 1, 0.7);
}

.category-site .category-item.item-2:hover {
  -webkit-box-shadow: inset 0px -7px 0px 0px #f4c901;
  box-shadow: inset 0px -7px 0px 0px #f4c901;
}

.category-site .category-item.item-3 {
  max-width: 300px;
  width: 100%;
  margin-left: 20px;
  text-align: right;
  background-image: url("https://source.unsplash.com/random/3");
}

.category-site .category-item.item-3 .number-ads {
  background: rgba(204, 153, 102, 0.7);
}

.category-site .category-item.item-3:hover {
  -webkit-box-shadow: inset 0px -7px 0px 0px #cc9966;
  box-shadow: inset 0px -7px 0px 0px #cc9966;
}

.category-site .category-item.item-4 {
  max-width: 440px;
  width: 100%;
  background-image: url("https://source.unsplash.com/random/4");
}

.category-site .category-item.item-4 .number-ads {
  background: rgba(255, 102, 102, 0.7);
}

.category-site .category-item.item-4:hover {
  -webkit-box-shadow: inset 0px -7px 0px 0px #ff6666;
  box-shadow: inset 0px -7px 0px 0px #ff6666;
}

.category-site .category-item.item-5 {
  max-width: 250px;
  width: 100%;
  margin-left: 20px;
  background-image: url("https://source.unsplash.com/random/5");
}

.category-site .category-item.item-5 .number-ads {
  background: rgba(102, 153, 255, 0.7);
}

.category-site .category-item.item-5:hover {
  -webkit-box-shadow: inset 0px -7px 0px 0px #6699ff;
  box-shadow: inset 0px -7px 0px 0px #6699ff;
}

.category-site .category-item h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.category-site .item-1 h3,
.category-site .item-2 h3,
.category-site .item-5 h3 {
  color: #FFF;
}

.category-site .item-3 h3,
.category-site .item-4 h3 {
  color: #1c1e2d;
}

/*popular block*/

.popular-block {
  background: #FFF;
  margin: 20px 0px;
}

.popular-block-carousel {
  margin: 40px 0px;
}

.item-popular-block {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.item-popular-block a {
  display: block;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.item-popular-block a:hover {
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
}

.item-popular-block .img {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
  max-height: 160px;
  min-height: 160px;
}

.item-popular-block .img img {
  width: auto;
}

.item-popular-block .inner-info {
  padding: 25px 20px;
  border: 1px solid #ddd;
}

.item-popular-block .inner-info h3 {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.item-popular-block .inner-info p {
  font-size: 16px;
}

.item-popular-block .popular-update {
  padding: 25px 20px;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.item-popular-block .popular-update span {
  color: #999;
}

.popular-block-carousel .owl-item {
  margin-bottom: 10px;
}

.popular-block-carousel .owl-item:last-child {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.popular-block-carousel .owl-item:last-child .inner-info {
  border: none;
}

.popular-block-carousel .owl-item:last-child .popular-update {
  border: none;
  border-top: 1px solid #ddd;
}

.popular-block-carousel .owl-item:last-child .popular-update span {
  color: #2387FF;
  font-size: 16px;
}

.popular-block-carousel .owl-nav {
  display: block !important;
  position: absolute;
  z-index: 0;
  top: 44%;
  max-width: 1150px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popular-block-carousel .owl-nav button.owl-prev,
.popular-block-carousel .owl-nav button.owl-next {
  background: #f9bf08 !important;
  padding: 0px 0px 1px !important;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popular-block-carousel .owl-nav button:hover {
  background: #000 !important;
}

.popular-block-carousel .owl-nav button:hover span {
  color: #f9bf08 !important;
}

.popular-block-carousel .owl-nav button span {
  color: #000 !important;
  font-size: 40px;
  display: block;
  position: relative;
  bottom: 2px;
}

.popular-block-carousel .owl-nav button:nth-child(1) {
  position: absolute;
  left: -26px;
}

.popular-block-carousel .owl-nav button:nth-child(1) span {
  left: -1px;
}

.popular-block-carousel .owl-nav button:nth-child(2) {
  position: absolute;
  right: -26px;
}

.popular-block-carousel .owl-nav button:nth-child(2) span {
  left: 1px;
}

/*classifieds section*/

.classifieds-home-page {
  background: #FFF;
}

.classifieds-carousel {
  margin-top: 40px;
}

.classifieds-carousel .owl-dots {
  margin-top: 20px;
  display: flex !important;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.classifieds-carousel .owl-dots .owl-dot {
  margin: 0px 2px;
  background: rgba(0, 0, 0, 0.2);
  width: 11px;
  height: 11px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.classifieds-carousel .owl-dots .owl-dot.active {
  background: #f9bf08;
}

.classifieds-item {
  border: 1px solid #ddd;
  padding: 10px 0px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  min-height: 94px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.classifieds-item img {
  width: auto !important;
}

.classifieds-item:hover {
  border-color: #f4c901;
}

/*post newspapper*/

.post-newspapper {
  background: #f2edcf;
  padding: 80px 0px;
}

.post-newspapper div {
  position: relative;
}

.post-newspapper .title {
  text-align: left;
  max-width: 430px;
  line-height: 20px;
}

.post-newspapper .title h2 {
  margin-bottom: 16px;
}

.post-newspapper .title span {
  font-size: 16px;
  color: #151414;
  font-weight: bold;
}

.post-newspapper .inner-blocks {
  margin: 30px 0px;
}

.post-newspapper .inner-blocks > div {
  background: #FFF;
  max-width: 140px;
  text-align: center;
  padding: 30px 20px;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.post-newspapper .inner-blocks > div img {
  width: auto;
}

.post-newspapper .inner-blocks > div > div {
  min-height: 46px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.post-newspapper .inner-links {
  max-width: 470px;
}

.post-newspapper .inner-links .global-btn {
  background: #151414;
  color: #F6C900;
  padding: 20px 50px;
  font-weight: bold;
}

.post-newspapper .inner-links .global-btn:before {
  background: #F6C900;
}

.post-newspapper .inner-links .global-btn:hover {
  color: #151414;
}

.post-newspapper .inner-links .readFAQ {
  color: #045FE7;
  font-weight: bold;
}

.post-newspapper .inner-links .readFAQ:hover {
  text-decoration: underline;
}

/*last section*/

.last-section {
  background-color: #f9ce06;
  background-image: url("../img/arrow-icon.jpg");
  background-repeat: repeat-x;
  background-position: bottom left;
  color: #151414;
}

.last-section img {
  width: auto;
}

.last-section .img {
  width: 84px;
  height: 84px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 12px;
}

.last-section .img img {
  width: auto;
}

.last-section article {
  margin-bottom: 34px;
}

.last-section .inner {
  max-width: 270px;
}

.last-section .inner h5 {
  font-family: 'Product Sans Bold';
  margin-bottom: 6px;
}

/*footer stylesheet*/

footer {
  margin-top: 10px;
  background: #fff;
}

footer .logo {
  display: none;
}

.lists-box {
  -webkit-order: -1;
  -ms-order: -1;
  order: -1;
  margin: 20px 0px;
}

.list-footer {
  font-size: 15px;
  line-height: 25px;
}

.list-footer li:first-child {
  margin-bottom: 6px;
}

.list-footer a:hover {
  color: #000;
}

.title-footer-list {
  font-family: 'Product Sans Bold';
  margin-bottom: 10px;
}

.contact-footer {
  text-align: center;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.contact-footer .phone,
.contact-footer .mail {
  margin-bottom: 10px;
  font-size: 19px;
  color: #000;
}

.contact-footer .phone span,
.contact-footer .mail span {
  color: #000;
  font-size: 19px;
}

.contact-footer span {
  font-size: 12px;
  color: #999;
}

.soc-link {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.soc-link a {
  background: #f6c900;
  color: #FFF;
  margin-left: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.soc-link a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*automobile stylesheet page*/

.global-header {
  position: static;
  background: #f6c900;
  color: #000;
}

.global-header .btn-header {
  background: #000;
  color: #fff;
  padding: 15px;
}

.user-info {
  width: 36px;
  height: 36px;
  display: block;
  background: #DEB602;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info:after {
  content: "";
  position: absolute;
  background: #EB2017;
  padding: 4px;
  right: 1px;
  top: 1px;
  border-radius: 50%;
}

.user-info.header-message {
  background-image: url("../img/message.png");
}

.user-info.header-event {
  background-image: url("../img/event.png");
}

.global-search-block {
  background: #FFF;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.global-search-block .container {
  padding: 10px 30px;
  position: relative;
}

.global-search-block .loop {
  margin-right: 16px;
  cursor: pointer;
  width: 56px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/loop.png");
  display: block;
  border-right: 1px solid #ddd;
}

.global-search-block .loop img {
  width: auto;
}

.global-search-block input {
  border: none;
  padding: 0;
  width: 70%;
}

.global-search-block button {
  margin-left: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: relative;
  z-index: 0;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.page-nav {
  margin-bottom: 20px;
}

.page-nav li {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.page-nav li a {
  color: #999;
}

.page-nav li a:hover {
  color: #000;
}

.page-nav li:first-child:before {
  display: none;
}

.page-nav li:before {
  content: "";
  display: block;
  margin: 0px 6px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #666;
  border-right: 2px solid #666;
}

.page-nav li.active a {
  color: #666;
}

#pageName {
  font-size: 18px;
  color: #666;
}

.sort {
  background: #FFF;
  width: 100%;
  padding: 10px 15px;
  max-width: 120px;
  color: #000;
  cursor: pointer;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-left: auto;
  position: relative;
}

.sort .dropdown-link {
  color: #282828;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.sort .dropdown-link:after {
  content: "";
  display: block;
  margin: 0px 6px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top: 2px solid #151515;
  border-right: 2px solid #151515;
}

.sort .dropdown-block {
  top: 30px;
  padding-top: 15px;
  position: absolute;
  background: #FFF;
  z-index: 2;
  width: 100%;
  display: none;
  left: 0;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sort .dropdown-block ul li {
  margin-bottom: 6px;
}

.sort .dropdown-block ul li:last-child {
  border: none;
  margin-bottom: 0;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sort .dropdown-block ul li:last-child a {
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sort .dropdown-block ul li a {
  padding: 4px 16px;
  color: #000;
  position: relative;
  display: block;
}

.sort .dropdown-block ul li a:hover {
  background: #ddd;
}

.wrappper-category {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 0px;
}

.menu-filter h5 {
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 20px;
}

.menu-filter input[type='checkbox'] {
  display: none;
}

.menu-filter label {
  font-size: 14px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.menu-filter label.active:after {
  background-color: #3DC892;
  border-color: #7EC6AA;
}

.menu-filter label.active:before {
  opacity: 1;
}

.menu-filter label:before {
  content: "";
  width: 2px;
  height: 6px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  position: absolute;
  right: 8px;
  top: 3px;
}

.menu-filter label:after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #c3c3c3;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.search-result {
  grid-column: 2/5;
}

.search-result > div.flex.flex-vertical-top {
  margin-bottom: 16px;
}

.category-block {
  margin-bottom: 20px;
  background: #FFF;
  padding: 14px 22px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  min-width: 220px;
}

.category-block input[type='text'] {
  padding: 10px 14px;
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.category-price input {
  padding-left: 25px !important;
}

.category-price i {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.category-list {
  margin-bottom: 20px;
}

.title-list {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
  color: #000;
}

.title-list.active {
  font-weight: bold;
}

.title-list.active > span:before {
  content: "-";
  left: 12px;
  top: -6px;
}

.title-list > span {
  font-size: 25px;
  color: #000;
  cursor: pointer;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.title-list > span:hover {
  background: #f1f0f0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.title-list > span:before {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  top: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #999;
  content: "+";
}

.title-list > a:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 28px;
  left: 0px;
  top: -5px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.title-list ul {
  margin-top: 8px;
  line-height: 20px;
  display: none;
}

.title-list ul li a:hover {
  font-weight: bold;
}

.title-list ul li.active-category a {
  font-weight: bold;
}

.title-list li {
  font-size: 13px;
  line-height: 24px;
}

.title-real-estate:before {
  background-image: url("../img/real-estate.svg");
}

.title-automobiles:before {
  background-image: url("../img/automobiles.svg");
}

.title-recruitment:before {
  background-image: url("../img/recruitment.svg");
}

.title-matrimony:before {
  background-image: url("../img/matrimony.svg");
}

.title-services:before {
  background-image: url("../img/services.svg");
}

.toggle-category-block .category-title {
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.toggle-category-block .category-title:after {
  content: "+";
  font-size: 24px;
}

.toggle-category-block .category-title.active:after {
  content: "-";
}

.toggle-category-block div {
  margin: 10px 0px 20px 0px;
  display: block;
}

.toggle-category-block div label {
  margin-bottom: 12px;
}

.toggle-category-block input[type=search] {
  padding: 10px 14px;
  margin-bottom: 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999;
  color: #999;
}

.toggle-category-block .see-more {
  color: #09F;
  display: block;
  cursor: pointer;
  font-size: 15px;
}

.filter-item {
  background: #FFF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 14px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 8px;
}

.filter-item i {
  font-size: 28px;
  cursor: pointer;
  display: block;
  margin-left: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-search-result {
  background: #FFF;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.item-search-result:hover {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
}

.item-search-result .inner-content {
  padding: 25px 15px;
}

.item-search-result .inner-content.flex {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.item-search-result .result-info {
  padding-left: 30px;
  border-top: 1px solid #ddd;
}

.item-search-result .result-info .item-price {
  margin-left: auto;
  font-size: 22px;
  font-weight: bold;
  border: none;
  color: #000;
}

.item-search-result .result-info span {
  padding: 16px 10px;
  display: flex;
  color: #999;
  font-size: 12px;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #ddd;
}

.item-search-result .result-info span.location svg {
  font-size: 18px;
}

.item-search-result .result-info span.user-post {
  padding-left: 1px;
}

.item-search-result .result-info span.like {
  border: none;
}

.item-search-result .result-info span:first-child {
  padding-left: 0px !important;
  cursor: pointer;
}

.item-search-result .result-info span:first-child:hover svg {
  color: #ff3333;
}

.item-search-result .result-info svg {
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  margin-right: 10px;
  font-size: 20px;
}

.item-search-result .title-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.item-search-result .title-item:before {
  content: "";
  display: block;
  width: 31px;
  height: 28px;
  margin-right: 16px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.item-search-result .innter-description p {
  padding-left: 48px;
  max-width: 280px;
  font-size: 16px;
  color: #999;
}

.item-search-result .img {
  max-width: 150px;
  max-height: 100px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.item-search-result .img span {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  font-size: 14px;
  background: #000;
  color: #FFF;
  padding: 10px 14px;
}

.item-search-result .img span svg {
  margin-right: 8px;
}

.item-search-result .img img {
  max-width: 150px;
  min-height: 100px;
  width: auto;
}

.leader-board {
  display: block;
  width: 90%;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 27px;
  background: #F66;
  padding: 30px;
  margin: -6px auto 14px;
  cursor: pointer;
}

.item-result {
  display: block;
}

.load-btn {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  background: #003A5F;
}

.classifieds-page .global-btn {
  background: #000;
  color: #FFF;
  margin-top: 30px;
  padding: 20px 60px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.classifieds-page .global-btn:hover {
  color: #F6C900;
}

.classifieds-page .global-btn:before {
  background: #151414;
}

/*details ads page stylesheet*/

.share-ads,
.like-ads {
  margin-left: 12px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.share-ads svg,
.like-ads svg {
  width: 20px !important;
  height: 20px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.like-ads:hover svg {
  color: #f62020;
}

.share-ads:hover svg {
  color: #000;
}

.wrapper-ads-details {
  margin-top: -20px;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 70% 27%;
}

.ads-links-box {
  margin-top: -20px;
  padding-right: 20px;
}

.related-adss {
  margin-bottom: 0;
  box-shadow: 0px 10px 10px -6px rgba(125, 125, 125, 0.2);
}

.related-adss:hover {
  -webkit-box-shadow: 0px 10px 10px -6px rgba(125, 125, 125, 0.2);
}

.related-adss .innter-description p {
  max-width: 520px;
}

.related-adss .expire {
  width: auto;
  display: flex !important;
  margin-bottom: 0;
  margin-left: auto;
}

.user-info-post {
  background: #FFF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 30px 30px 18px 30px;
  position: relative;
}

.user-info-post i,
.user-info-post span {
  display: block;
}

.user-info-post i {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.user-info-post .load-btn {
  padding: 10px 16px;
  margin-top: auto;
  font-size: 14px;
}

.user-info-post .box-btn:hover .chat-links {
  z-index: 100;
  opacity: 1;
}

.user-info-post .chat-links {
  position: absolute;
  z-index: -2;
  opacity: 0;
  right: 35px;
  top: -50px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.user-info-post .chat-links a {
  display: block;
  margin-bottom: 12px;
  padding: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.user-info-post .chat-links a svg {
  width: 20px !important;
  height: 20px !important;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.user-info-post .chat-links a:nth-child(1):hover svg {
  color: #000;
}

.user-info-post .chat-links a:nth-child(2):hover svg {
  color: #06b654;
}

.user-info-post .chat-links a:nth-child(3):hover svg {
  color: #214f8f;
}

#userNamePost {
  color: #2b0f00;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}

#userActive {
  font-size: 12px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 13px;
}

#userActive:before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#userActive.online {
  color: #66cc33;
}

#userActive.online:before {
  background: #66cc33;
}

#userActive.offline {
  color: #F62020;
}

#userActive.offline:before {
  background: #F62020;
}

.similar-ads .load-btn {
  font-size: 14px;
}

.wrapper-ads-details .result-info {
  padding-left: 48px;
  color: #999;
}

.expire {
  margin-left: 16px;
  padding: 0px !important;
  border-right: 0px !important;
  margin-right: 10px;
  color: #ff3333 !important;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  width: 100%;
  margin-bottom: 16px;
  display: none !important;
}

.expire a {
  background: #ffcccc;
  padding: 8px 12px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.result-description {
  padding: 30px 25px;
  background: #FFF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.title-item-result {
  line-height: 30px;
}

.title-item-result span {
  display: block;
  color: #999;
  font-size: 16px;
}

.global-item-price {
  font-size: 21px;
  color: #100F0E;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-weight: bold;
}

.global-item-price:before {
  display: block;
  content: "";
  margin-right: 12px;
  width: 18px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/price-sticker.png");
}

.item-foto-carousel {
  max-height: 350px;
  margin: 20px 0px;
  overflow: hidden;
}

.item-foto-carousel div {
  max-height: 350px;
}

.item-foto-carousel img {
  width: 100%;
}

.item-foto-carousel .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.item-foto-carousel .owl-nav button span {
  font-size: 60px;
  padding: 4px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
}

.item-details-description > div {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 20px;
}

.item-details-description > div span {
  display: block;
}

.item-details-description > div span:first-child {
  font-size: 16px;
  color: #999;
}

.item-details-description > div span:last-child {
  font-size: 16px;
  color: #1C1B23;
  font-weight: bold;
}

.item-details-description > div:before {
  content: "";
  display: block;
  margin-right: 6px;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
}

.fuel-type:before {
  background-image: url("../img/fuel-type.png");
}

.transmission:before {
  background-image: url("../img/transmision.png");
}

.kilometers:before {
  background-image: url("../img/kmrs.png");
}

.kilometers {
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.total-views {
  margin-right: 0 !important;
  margin-left: auto;
  text-align: right;
}

.total-views:before {
  display: none !important;
}

.more-detail-desc {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.additional-details table {
  width: 100%;
  max-width: 350px;
  font-size: 16px;
  line-height: 25px;
}

.additional-details thead th:nth-child(2) {
  width: 60px;
}

.additional-details tbody td:first-child,
.additional-details tbody td:nth-child(2) {
  color: #999;
}

.additional-details tbody td:last-child {
  color: #100F0E;
}

.additional-details .additional-description {
  font-size: 16px;
  display: block;
  color: #999;
  margin: 10px 0px;
}

#viewItemMap {
  font-size: 16px;
  color: #36F;
  font-weight: bold;
}

#viewItemMap:hover {
  text-decoration: underline;
}

#detailsItemMap {
  margin: 20px 0px;
}

.address-info {
  color: #100F0E;
  font-weight: bold;
  font-size: 16px;
}

.view-more-semilar {
  background: #FFF;
  padding: 24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.view-more-semilar .title-h4 {
  margin-bottom: 20px;
}

.view-more-semilar .global-btn {
  padding: 12px;
}

.similar-links {
  margin-bottom: 35px;
  display: block;
  line-height: 20px;
}

.similar-links img {
  max-width: 235px;
  max-height: 125px;
}

.similar-links span {
  display: block;
  color: #040402;
  font-size: 16px;
}

.browse-category {
  padding: 8px;
}

.list-browse-category li {
  margin-top: 14px;
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.list-browse-category li:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.list-browse-category li a {
  color: #FFF;
  font-size: 16px;
  display: block;
  padding: 21px 16px;
}

.list-browse-category .automobiles {
  background: #f4c901;
}

.list-browse-category .matrimony {
  background: #ff6666;
}

.list-browse-category .recruitment {
  background: #cc9966;
}

.list-browse-category .services {
  background: #6699ff;
}

.list-browse-category .real-estate {
  background: #c589d0;
}

.filter-search {
  position: relative;
}

.filter-search input {
  background: #f1f0f0;
  border-color: #999;
  color: #999;
  width: 100%;
  padding: 10px 14px 10px 40px !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
}

.filter-search label {
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  top: 40%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-image: url("../img/loop.png");
}

.filter-search label:after {
  display: none;
}

.times-block {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #999;
}

.times-block h5 {
  text-transform: none;
  margin-bottom: 0px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.times-block h5:after {
  cursor: pointer;
  margin-left: auto;
  content: "-";
  font-size: 24px;
}

.help {
  line-height: 22px;
  font-size: 16px;
}

.help:before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background: #100F0E;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/phone.png");
}

.section-builder-main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
}

.section-builder-main article:nth-child(4) {
  background: #FFF;
  padding: 16px;
}

.change-marker {
  color: #f6c900;
  padding: 12px 24px;
  font-size: 18px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.change-marker svg {
  margin-right: 8px;
}

.change-marker.active {
  color: #fff;
  background: #f6c900;
}

.select-item {
  margin-bottom: 30px;
}

.select-item .container-item {
  background: #FFF;
  display: none;
}

.select-item:last-child {
  margin-bottom: 0;
}

.select-item.active .title-builder {
  background: #F6C900;
  color: #fff;
}

.select-item.active .title-builder span {
  background: #fff;
  color: #F6C900;
}

.title-builder {
  background: #FFF;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #100F0E;
  padding: 14px 25px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.title-builder span {
  background: #F6C900;
  color: #fff;
  display: block;
  margin-right: 16px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.title-builder h4 {
  font-size: 16px;
  font-weight: bold;
}

.inner-builder {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid #ccc;
}

.inner-builder h5 {
  margin-bottom: 14px;
  text-transform: none;
  font-weight: bold;
}

.inner-builder > div:nth-child(1) {
  border-right: 1px solid #cccccc;
}

.inner-builder .category-block {
  padding-bottom: 0;
  margin-bottom: 0;
}

.inner-builder .category-block .filter-search {
  margin-bottom: 24px;
}

.inner-builder .category-block .filter-search input {
  border: 1px solid #ccc;
}

.inner-builder .category-block .filter-search label {
  top: 50%;
}

.inner-builder .category-block div:nth-child(3) {
  max-height: 160px;
  -ms-overflow-y: scroll;
  overflow-y: scroll;
}

.inner-builder label {
  margin-bottom: 12px;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.inner-builder label:after {
  margin-right: 12px;
}

.footer-builder {
  padding: 16px 22px;
}

.footer-builder span {
  font-size: 14px;
  color: #2A314E;
}

.footer-builder span i {
  color: #999;
}

.select-description {
  display: flex;
  margin-bottom: 16px;
}

.select-description:before {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 16px;
  background-color: #b0b0b0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/click.png");
  background-position: center;
  content: "";
}

.select-description h5 {
  font-size: 16px;
  font-weight: bold;
  color: #B0B0B0;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.select-description .inner-info {
  font-size: 14px;
}

.select-description .inner-info ul {
  display: none;
  line-height: 20px;
}

.select-description.complete:before {
  background-color: #6BDA2E;
}

.select-description.complete h5 {
  color: #000;
}

.select-description.complete .inner-info ul {
  display: block;
}

.select-description.focus:before {
  background-color: #f08628;
}

.select-description.focus h5 {
  color: #000;
}

.copyright i {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}

.fade-in-box {
  padding: 30px;
  margin: 20px 0px;
  width: 100%;
  background: #3cc792;
  color: #fff;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}

.fade-in-box h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.fade-in-box p {
  font-size: 16px;
  line-height: 24px;
}

.fade-in-box .closed {
  background: #fff;
  color: #3CC792;
  font-size: 14px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  padding: 2px 8px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
}

@media screen and (min-width: 960px) {
  .post-newspapper .col-ld-5 {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .post-newspapper .col-ld-5 img {
    position: absolute;
    width: auto;
    top: -50px;
  }

  .post-newspapper .inner-blocks > div {
    max-width: 152px;
  }

  footer .logo {
    display: block;
  }

  .lists-box {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
    margin: 0;
  }

  .contact-footer {
    text-align: right;
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }

  .soc-link {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .item-search-result .inner-content {
    padding: 25px 30px;
  }

  .item-search-result .innter-description p {
    max-width: 430px;
  }

  .user-info-post .load-btn {
    padding: 12px 16px;
    font-size: 18px;
  }

  #userActive {
    margin-bottom: 15px;
  }

  .similar-ads .load-btn {
    font-size: 18px;
  }

  .item-details-description > div {
    margin-right: 7%;
  }

  .kilometers {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }
}

@media screen and (min-width: 1100px) {
  .item-search-result .result-info span {
    padding: 16px;
  }

  .item-search-result .innter-description p {
    max-width: 530px;
  }

  .wrapper-ads-details {
    grid-gap: 18px;
  }

  .expire {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
    width: auto;
    display: flex !important;
    margin-bottom: 0;
  }
}