/****Grid layout settings****/

/*General for documetn settings*/

/*Color*/

/*Typography*/

@import url("grid.css");

@import url("remodal.css");

@import url("remodal-default-theme.css");

html,
body {
  direction: ltr;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  text-align: right;
  color: #464E5F;
  background: #eff2f5;
}

/***********header page***********/

.top-of-page {
  margin-bottom: 30px;
}

.top-of-page-text {
  text-align: left;
}

.top-of-page-text p {
  display: inline-block;
}

.top-of-page-text span {
  font-size: 22px;
  font-weight: bold;
  margin-right: 30px;
}

.buttons {
  max-width: 586px;
  margin: 10px auto 30px;
  -webkit-order: 0;
  -ms-order: 0;
  order: 0;
}

.buttons div {
  text-align: center;
}

.buttons div:nth-child(1) span {
  display: block;
  font-weight: bold;
  font-size: 22px;
}

.h3-header {
  font-weight: bold;
  font-size: 22px;
}

.charts-circle,
.date-time {
  margin: 10px 0 30px;
}

.button-img {
  margin: 0 auto;
  width: 80px;
  height: 81px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.megaphone {
  background-image: url("../img/button1.png");
}

.batcket {
  background-image: url("../img/button2.png");
}

.link-button {
  margin: 8px 0;
  display: block;
  background: #1DA1F3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.charts-circle {
  padding: 10px;
}

.date-range {
  opacity: 0;
  position: absolute;
}

.date-time {
  text-align: left;
  position: relative;
  -webkit-order: -1;
  -ms-order: -1;
  order: -1;
}

.date-time label {
  cursor: pointer;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.date-time label:before {
  content: "";
  display: block;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/calendar.png");
}

.p-date-time {
  font-weight: 800;
  color: #1DA1F3;
  font-size: 36px;
}

.bolck-charts {
  background: #FFF;
  padding: 0 0 45px;
  margin: 0px auto;
}

.charts {
  padding: 0px 30px;
}

.charts .grid-12 {
  height: 170px;
  width: 100%;
  margin: 16px 50px 60px;
}

.searching {
  position: absolute;
  display: block;
  height: 28px;
  top: 2px;
  right: 2px;
  margin: 2px 0 6px auto;
}

.search-btn {
  display: block;
  width: 28px;
  height: 28px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/search.png");
  position: absolute;
  right: 0;
  cursor: pointer;
}

.chart-item {
  font-size: 40px;
  height: 100%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.chart-item img {
  width: 200px;
}

.popup-chart {
  opacity: 0;
  max-width: 80%;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
}

.popup-chart img {
  width: 40%;
}

.popup-chart.remodal-is-opened {
  opacity: 1;
}

.box.popup-chart {
  max-width: 80%;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
}

.box.popup-chart img {
  width: 140%;
}

.remodal-close {
  right: 0 !important;
  left: initial;
}

.remodal-close:before {
  font-size: 50px;
}

.box {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
}

.chart-first {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
}

.chart-item-img {
  width: 150px;
  height: 150px;
  background-position: center;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/img-chart.png");
}

.tab-chart-block {
  display: none;
  text-align: center;
  font-size: 50px;
  padding: 40px;
}

.tab-chart-block img {
  width: 180px;
}

.tabs p {
  cursor: pointer;
  margin-right: 30px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tabs p:hover {
  border-bottom: 2px solid  #464E5F;
  font-weight: bold;
}

.tabs .active-tab {
  border-bottom: 2px solid  #464E5F;
  font-weight: bold;
}

.controller {
  width: 100%;
  height: 55px;
  background: #464E5F;
}

@media screen and (min-width: 780px) {
  .buttons {
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
  }
}

@media screen and (min-width: 1100px) {
  .buttons {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }

  .date-time {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }
}