/****************Preparatory works***************/

$col-1: 8.33333333%;
$col-2: 16.66666667%;
$col-3: 25%;
$col-4: 33.33333333%;
$col-5: 41.66666667%;
$col-6: 50%;
$col-7: 58.33333333%;
$col-8: 66.66666667%;
$col-9: 75%;
$col-10: 83.33333333%;
$col-11: 91.66666667%;
$col-12: 100%;

$dw-480: 480px;
$dw-560: 560px;
$dw-640: 640px;
$dw-780: 780px;
$dw-960: 960px;
$dw-992: 992px;
$dw-1100: 1100px;

=col($col, $offset)
	width: calc(#{$col} - #{$offset});

=grid($col, $offset)
	flex-basis: calc(#{$col} - #{$offset});

=device-col($dw, $col-dw, $offset)
	@media screen and (min-width: #{$dw})
		width: calc(#{$col-dw} - #{$offset});

=device-grid($dw, $col-dw, $offset)
	@media screen and (min-width: #{$dw})
		flex-basis: calc(#{$col-dw} - #{$offset});

/************************************************************/

/*Genarl*/
@font-face
	font-family: "Proxima Nova"
	src: url('../fonts/ProximaNovaCond-Regular.eot')
	src: url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype')
	src: url('../fonts/ProximaNovaCond-Bold.eot')
	src: url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype')
	src: url('../fonts/ProximaNovaCond-Light.eot')
	src: url('../fonts/ProximaNovaCond-Light.woff') format('woff'), url('../fonts/ProximaNovaCond-Light.ttf') format('truetype')
	font-weight: normal
	font-style: normal
*
	-webkit-box-sizing: border-box 
	-moz-box-sizing: border-box 
	box-sizing: border-box 
	padding: 0
	margin: 0

body
	font-family: "Proxima Nova", "Times New Roman", Arial, serif
	position: relative
	min-width: 320px
	font-size: 13px
	color: #000 
	
a
	text-decoration: none
	color: #000 
	&:hover
		text-decoration: none 
	
h1,h2,h3,h4,h5,h6,p
	padding: 0
	font-weight: normal

img
	max-width: 100% 
	
ul
	padding: 0
	list-style-type: none

label
	cursor: pointer
	margin: 0

input
	display: none
	
.container
	padding: 14px 0
	margin: 0 auto
	
.row
	margin: 0 auto
/*header*/
.logo
	text-transform: uppercase
	font-weight: bold
	letter-spacing: 5px
	font-size: 2.3em
	color: #040404
	&:hover
		color: #040404

.logo-title
	margin: 8px 0 0px 32px
	p
		text-transform: uppercase
		color: #000
		width: 162px
		line-height: 14px
		margin: 0
		
.phone-n
	font-size: 2.3em
	font-weight: bold
	&:hover
		color: #000 
	@media screen and (min-width: #{$dw-480})
		font-size: 2.7em

.row-phone
	-webkit-justify-content: flex-start 
	justify-content: flex-start 
	@media screen and (min-width: #{$dw-992})
		-webkit-justify-content: flex-end 
		justify-content: flex-end 

.phone-btn
	background: linear-gradient(to bottom, #fd6f48 50%, #ff5058 100%)
	border: none
	margin: 8px 0px 12px 12px
	@media screen and (min-width: #{$dw-480})
		margin: 12px
		
/****menu****/
.page-body
	position: relative
/**********nav*************/	
.wrap-list
	background: rgba(0, 0, 0, 0.25)
	position: relative
	z-index: 900
	.container
		max-width: 1150px
	
.nav-list
	width: 50%
	position: absolute
	top: 0
	padding: 20px
	-webkit-transform: translateX(-100%) 
	-moz-transform: translateX(-100%) 
	-ms-transform: translateX(-100%) 
	-o-transform: translateX(-100%) 
	transform: translateX(-100%)
	background: rgba(0, 0, 0, 0.25)
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	-webkit-transition: transform  0.25s 0.3s ease
	-moz-transition: transform  0.25s 0.3s ease
	-ms-transition: transform  0.25s 0.3s ease
	-o-transition: transform  0.25s 0.3s ease
	transition: transform  0.25s 0.3s ease
	@media screen and (min-width: #{$dw-640})
		background: none 
		padding: 0
		width: 80%
		position: static
		-webkit-transform: none 
		-moz-transform: none 
		-ms-transform: none 
		-o-transform: none 
		transform: none 
		-webkit-flex-direction: row
		-ms-flex-direction: row
		flex-direction: row
		
.separate
	display: none
	@media screen and (min-width: #{$dw-640})
		display: block
		width: 1px
		border-left: 1px solid #fff 
		
.list-item
	color: #FFF
	font-size: 14px
	font-weight: lighter
	letter-spacing: 2px 
	text-transform: uppercase
	-webkit-transition: color 0.2s 0.2s ease-out 
	-moz-transition: color 0.2s 0.2s ease-out 
	-ms-transition: color 0.2s 0.2s ease-out 
	-o-transition: color 0.2s 0.2s ease-out 
	transition: color 0.2s 0.2s ease-out 
	&:hover
		color: #fd6f48
	&:active
		color: #fd6f48
	&:focus
		color: #fd6f48

.active-item
	color: #fd6f48

/*nav toggle*/
.nav-checkbox:checked ~ .nav-list 
	-webkit-transform: translateX(0%) 
	-moz-transform: translateX(0%) 
	-ms-transform: translateX(0%) 
	-o-transform: translateX(0%) 
	transform: translateX(0%) 

.nav-checkbox:checked + label.nav-toggle em:first-child 
	transform: rotate(45deg)
	left: 0
	bottom: 5px
	-webkit-transition: transform 0.2s 0.2s,top 0.2s 0.15s
	-moz-transition: transform 0.2s 0.2s,top 0.2s 0.15s
	-ms-transition: transform 0.2s 0.2s,top 0.2s 0.15s
	-o-transition: transform 0.2s 0.2s,top 0.2s 0.15s
	transition: transform 0.2s 0.2s,top 0.2s 0.15s

.nav-checkbox:checked ~ label.nav-toggle em:last-child
	-webkit-transition: transform 0.2s 0.2s,top 0.2s 0.15s 
	-moz-transition: transform 0.2s 0.2s,top 0.2s 0.15s 
	-ms-transition: transform 0.2s 0.2s,top 0.2s 0.15s 
	-o-transition: transform 0.2s 0.2s,top 0.2s 0.15s 
	transition: transform 0.2s 0.2s,top 0.2s 0.15s 
	left: 0
	bottom: 5px
	transform: rotate(-45deg)

.nav-checkbox:checked ~ label.nav-toggle em:nth-child(2) 
	opacity: 0

.nav-toggle
	display: block
	margin: auto 0
	height: 12px
	width: 45px
	cursor: pointer
	position: relative
	left: 80%
	@media screen and (min-width: #{$dw-640})
		display: none
	  
.nav-toggle em 
	display: block
	position: absolute
	bottom: 0
	width: 45px
	background: #fff
	height: 2px
	transition: transform 0.1s 0.2s, left 0.1s 0.219s, opacity 0.2s 0.2s

.nav-toggle em:first-child 
	bottom: 10px
	left: -11px
	transform: scaleX(0.5)

.nav-toggle em:last-child
	bottom: 5px
	left: -5.5px
	transform: scaleX(0.75)

.nav-toggle:hover em
	left: 0px
	transform: scaleX(1)
/*end nav toggle*/

/******slider options*****/	
.corusel
	position: absolute
	width: 100%
	top: 0
	overflow: hidden
	
.slider
	position: absolute
	top: 0
	left: 100%
	width: 100%
	height: 100%
	padding-top: 50px
	-webkit-transition: left 0s 0.75s
	-moz-transition: left 0s 0.75s
	-ms-transition: left 0s 0.75s
	-o-transition: left 0s 0.75s
	transition: left 0s 0.75s
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover
	background-position: center
	background-repeat: no-repeat  

/******slides*****/	
.slide-one
	background-image: url('../img/room.jpg') 
.slide-two
	background-image: url('../img/room-1.jpg')
.slide-three
	background-image: url('../img/room-2.jpg')
.slide-four
	background-image: url('../img/kitchen.jpg')
	
/*****slides controls******/
	
#slide-1:checked ~ .corusel > .slide-one,
#slide-2:checked ~ .corusel > .slide-two,
#slide-3:checked ~ .corusel > .slide-three,
#slide-4:checked ~ .corusel > .slide-four,
	left: 0%
	z-index: 100
	-webkit-transition: left .65s ease-out
	-moz-transition: left .65s ease-out
	-ms-transition: left .65s ease-out
	-o-transition: left .65s ease-out
	transition: left .65s ease-out 

#slide-1:checked ~ .corusel > .slide-one > .container,
#slide-2:checked ~ .corusel > .slide-two > .container,
#slide-3:checked ~ .corusel > .slide-three > .container,
#slide-4:checked ~ .corusel > .slide-four > .container,
		opacity: 1
		-webkit-transform: translateY(0)
		-moz-transform: translateY(0)
		-ms-transform: translateY(0)
		-o-transform: translateY(0)
		transform: translateY(0)
		-webkit-transition: all .7s .7s ease-out
		-moz-transition: all .7s .7s ease-out
		-ms-transition: all .7s .7s ease-out
		-o-transition: all .7s .7s ease-out
		transition: all .7s .7s ease-out 

.controls
	width: 230px
	margin: 0 auto
	@media screen and (min-width: 576px)
		margin: 0

.slider-controler
	position: relative
	z-index: 200
	width: 121px 
	margin: 0 auto

.slides-controls
	width: 16px
	height: 16px
	margin: 6px
	border: 2px solid #fff
	-webkit-border-radius: 100% 
	 border-radius: 100%  
	
.arrows
	margin-top: -42px

/*nav list*/
#slide-1:checked ~ .wrap-list > .container > #list > label:nth-child(1),
#slide-2:checked ~ .wrap-list > .container > #list > label:nth-child(3),
#slide-3:checked ~ .wrap-list > .container > #list > label:nth-child(5),
#slide-4:checked ~ .wrap-list > .container > #list > label:nth-child(7),
	color: #fd6f48
	
/*option arrow left*/
#slide-1:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(4),
#slide-2:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(1),
#slide-3:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(2),
#slide-4:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(3),
	background: url('../img/arrow-left.png') no-repeat;
	float: left;
	position: relative
	z-index: 120 
	display: block;
	height: 44px;
	width: 30px;
/*option arrow right*/
#slide-1:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(2),
#slide-2:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(3),
#slide-3:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(4),
#slide-4:checked ~ .corusel > #controls > #controler > #arrows label:nth-child(1),
	background: url('../img/arrow-right.png') no-repeat;
	float: right;
	position: relative
	z-index: 120 
	display: block;
	height: 44px;
	width: 30px;
/*option dots*/
#slide-1:checked ~ .corusel > #controls > #controler > #dots > label:nth-child(1)>i,
#slide-2:checked ~ .corusel > #controls > #controler > #dots > label:nth-child(2)>i,
#slide-3:checked ~ .corusel > #controls > #controler > #dots > label:nth-child(3)>i,
#slide-4:checked ~ .corusel > #controls > #controler > #dots > label:nth-child(4)>i,
	display: block
	background: #FFF
	width: 8px
	height: 8px
	-webkit-border-radius: 100% 
	border-radius: 100% 
	margin: 2px
	-webkit-transition: all 0.2s 
	-moz-transition: all 0.2s 
	-ms-transition: all 0.2s 
	-o-transition: all 0.2s 
	transition: all 0.2s 
/*************slide title**********/
.slider
	.container
		position: relative
		z-index: 110
		width: 85%
		opacity: 0
		-webkit-transform: translateY(100%) 
		-moz-transform: translateY(100%) 
		-ms-transform: translateY(100%) 
		-o-transform: translateY(100%) 
		transform: translateY(100%)
		-webkit-transition: transform .5s .5s, opacity 0.5s 
		-moz-transition: transform .5s .5s, opacity 0.5s 
		-ms-transition: transform .5s .5s, opacity 0.5s 
		-o-transition: transform .5s .5s, opacity 0.5s 
		transition: transform .5s .5s, opacity 0.5s
		@media screen and (min-width: 576px)
			width: auto

.slide-title
	border-left: 2px solid #fff
	-webkit-transform: skew(-20deg) 
	-moz-transform: skew(-20deg) 
	-ms-transform: skew(-20deg) 
	-o-transform: skew(-20deg) 
	transform: skew(-20deg)
	padding: 0 8px

.slide-logo
	background: rgba(255, 255, 255, 0.6) 
	display: inline-block
	margin-right: 6px 

.slide-price
	display: block
	width: 120px
	margin-top: 10px
	background: linear-gradient(to right, #22d322 30%, #037d03 100%)
	@media screen and (min-width: 576px)
		margin: 0
		display: inline-block
		width: auto

.slide-block
	margin: 10px 0

.slide-info 
	font-family: Arial
	font-weight: bold
	padding: 0px 20px
	-webkit-transform: skew(20deg) 
	-moz-transform: skew(20deg) 
	-ms-transform: skew(20deg) 
	-o-transform: skew(20deg) 
	transform: skew(20deg) 
	
.slide-name
	font-size: 36px
	margin-bottom: 0
	text-transform: uppercase 
	@media screen and (min-width: #{$dw-480})
		font-size: 50px
	@media screen and (min-width: #{$dw-640})
		font-size: 70px
	@media screen and (min-width: #{$dw-960})
		font-size: 90px
	
.slide-name-discription
	font-style: italic
	font-size: 26px
	margin-bottom: 0
	@media screen and (min-width: #{$dw-480})
		font-size: 36px 

.bottom-border
	border: 1.5px solid #000
	width: 90%
	margin: 5px auto
	

.price
	color: #FFF 
	font-size: 14px
	margin: 0
	padding: 0 10px
	word-spacing: 4px 
	span
		font-size: 28px
		font-weight: bold
		letter-spacing: 2px 

.slider-text
	color: #FFF
	font-weight: bold
	font-size: 19px 
	text-transform: uppercase  
	letter-spacing: 2px
	width: 320px

.slider-btn
	background: linear-gradient(to bottom, #fd6f48 50%, #ff5058 100%)
	border: 2px solid
	text-transform: uppercase 
	line-height: 1
	font-weight: bold
	font-size: 23px  
			
.height-block
	display: block
	width: 100%
	height: 365px
	@media screen and (min-width: #{$dw-480})
		height: 375px
	@media screen and (min-width: 576px)
		height: 335px
	@media screen and (min-width: #{$dw-640})
		height: 360px
	@media screen and (min-width: #{$dw-960})
		height: 390px	
	
/***********card-block*************/

.card-block
	position: relative
	z-index: 120
	background: rgba(255,255,255,0.8) 
	
.card
	background: none
	border: none
	text-align: center
	
.card-img-top
 	width: 98px
 	margin: 0 auto
 	
.card-title
	font-size: 22px
	font-weight: bold
	
.card-text
	font-size: 16px
	
	