html, body{
	font-family: 'Lato', sans-serif;
}
img{
	width: 100%;
}
.logo{
	width: 200px;
}
.logo img{
	width: 100%;
}
.menu-list {
	margin: 20px;
}
.menu-list .global-btn{
	background: transparent;
	border-color: #666;
	color: #666;
}
.menu-list .global-btn:hover{
	color: #666;
}
.menu-list li{
	margin-left: 20px;
}
.top-page{
	height: 500px;
	background-image: url('img/img-bg.png');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.top-page-desc{
	color: #FFF;
	margin-left: auto;
	font-weight: lighter;
}

.top-page-desc h2{
	max-width: 370px;
	text-align: center;
	font-size: 48px;
	margin-bottom: 24px;
}
.top-page-desc h2:after{
	content: "";
	display: block;
	width: 100%;
	margin-top: 24px;
	height: 1px;
	background: #FFF;
}
.top-page-desc p{
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 24px;
}

.global-btn{
	font-size: 24px;
	border: 1px solid #fff;
	background: #FFF;
	color: #000;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	padding: 10px 30px;
}
.global-btn:hover{	
	background: transparent;
	color: #fff;
}
.h-section{
	font-size: 32px;
	margin-bottom: 24px;
}
.h-section:after{
	content: "";
	display: block;
	width: 200px;
	margin-top: 24px;
	height: 1px;
	background: #666;
}

.music-language .img{
	max-width: 400px;
	margin: 0 auto;
}