@import "smart-grid.scss";

/****************Preparatory works***************/

$col-1:8.33333333%;
$col-2:16.66666667%;
$col-3:25%;
$col-4:33.33333333%;
$col-5:41.66666667%;
$col-6:50%;
$col-7:58.33333333%;
$col-8:66.66666667%;
$col-9:75%;
$col-10:83.33333333%;
$col-11:91.66666667%;
$col-12:100%;

$dw-480:480px;
$dw-560:560px;
$dw-640:640px;
$dw-780:780px;
$dw-960:960px;
$dw-1100:1100px;

@mixin col($col, $offset){
	width: calc(#{$col} - #{$offset});
}
@mixin grid($col, $offset){
	flex-basis: calc(#{$col} - #{$offset});
}
@mixin device-col($dw, $col-dw, $offset){
	@media (min-width: #{$dw}){
		width: calc(#{$col-dw} - #{$offset});
	}
}
@mixin device-grid($dw, $col-dw, $offset){
	@media (min-width: #{$dw}){
		flex-basis: calc(#{$col-dw} - #{$offset});
	}
}
/*******reset******/

@include reset();

/******end reset*****/

/******************General**************************/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	min-width: 320px;
}
*{
	box-sizing: border-box;
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
/*******************Typography*********************/
a{
	text-decoration: none;
	color:#fff;
}
button{
	border:none;
	cursor: pointer;
}
/*button*/
.btn-up{
	display: block;
	background: #999;
	border-radius: 90%;
	position: fixed;
	width: 50px;
	height: 50px;
	z-index: 1000;
	right: 20px;
	bottom: -50px;
	cursor: pointer;
	outline: 0!important;
	transition: 0.4s;
	opacity: 0.6;
	&::after{
		content:'';
		width: 10px;
		height: 10px;
		border-top: 2px solid #fff;
		border-left: 2px solid #fff;
		transform: rotate(45deg);
		position: absolute;
		top: 4px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	&.active{
		bottom:20px;
	}

}

.view-more{
   margin-left: auto;
   color: #fff;
   background:#4493a7;
   text-transform: uppercase;
   border-radius: 4px;
   font-size: 16px;
   padding: 10px 20px;
}
.view-more:hover{background: #f1715e;}
/*********************header***********************/

.page-head{
	background-color: rgba(0,0,0,0.8);
	position: relative;
	&::before{
		content:'';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url('../img/bg-header.jpg') no-repeat;
		background-size: cover;
	}
}
.container{
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 42px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (min-width: $dw-960){
		padding:42px 0;
		width: 90%;
	}
}
/***********NAV TOGGLE**************/
.nav-toggle{
	background: #111;
	display: block;
	@media (min-width: $dw-960){
		display:none;
	}
}
.toggle{
	cursor: pointer;
	display: block;
	padding: 28px 20px;
	width: 68px;
	margin-left: auto;
	.click{
		transition: opacity 0.05s 0.1s, transform 0.1s 0.1s, top 0.1s 0.2s;
		display: block;
		height: 3px;
		background: #fff;
		border-radius: 8px;
		&:first-child{
			position:relative;
			top: -5px;
		}
		&:last-child{
			position:relative;
			top: 5px;
		}
	}
	.close{
	transition: opacity 0.05s 0.1s, transform 0.1s 0.2s, top 0.1s 0.1s;
	&:nth-child(2){
		opacity: 0;
		}
		&:first-child{
			top: 0px;
			transform: skewY(45deg);
		}
		&:last-child{
			top: -6px;
			transform: skewY(-45deg);
		}
	} 

}
/***********END NAV TOGGLE**************/
.head{
	display: none;
	flex-direction: column;
	text-align: center;
	background: #000;
	@media (min-width: $dw-960){
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		background: transparent;
	}
}
.logo{
	@include grid($col-3, 0px);
	a{
		display: inline-block;
		padding: 30px 0;
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		@media (min-width: $dw-960){
			padding: 0;
		}
	}
	img{
		width: 100px;
	}
	h3{
		text-align: center;
		@media (min-width: $dw-960){
			text-align: left;
		}
	}
	
}
.menu-side{
	@include grid($col-3, 0px);
	ul{
		display: flex;
		flex-direction: column;
		@media (min-width: $dw-960){
			flex-direction:row;
			justify-content: space-between;
		}
		li{
			margin-bottom: 14px;
			@media (min-width: $dw-960){
				margin: 0;
			}
			&:last-child{
				margin-bottom: 28px;
			}
		}		
	}
	a{
		font-size: 16px;
		font-weight: 700;
	}
}
.slog{
	color: #fff;
	margin: 6em auto;
	text-align: center;
	h1{
		font-weight: 700;
		font-size: 30px;
		margin: 0.8em 0;
		strong{
			font-weight: 700;
		}
		@media (min-width: $dw-560){
			font-size: 68px;
		}
	}
	span{
		font-size: 14px;
		line-height: 20px;
		display: block;
		margin: 0 auto;
		max-width: 350px;
		font-weight: lighter;
		@media (min-width: $dw-560){
			max-width: 500px;
			font-size: 22px;
    		line-height: 1.5;
		}
	}
}
/***********ANIMATION ARROWW**************/

/***********END ANIMATION ARROWW**************/

/***********main**************/
article{
	padding: 60px 20px;
	text-align: center;
}
.article-logo{
	font-weight: 700;
	font-size: 42px;
	margin: 1em 0;
}
.article-text{
	font-size: 20px;
    line-height: 1.5;
    font-weight: lighter;
    margin: 0 auto;
    max-width: 700px;
    @media (min-width: $dw-560){
		font-size: 22px;
	}
}

.why-we{
	background: #eee;
}
.advantages{
	margin-top: 55px;
	@include grid($col-8, 0px);
	@include device-grid($dw-960, $col-4, 30px);
	h3{
		@extend .article-logo;
		font-size:22px;
	}
	p{
		@extend .article-text;
		font-size:16px;
	}
	img {
    	max-width: 32%;
	}
}

/*****************services****************/
.proposals{
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: left;
	border: 1px solid #ddd;
	padding: 10px 20px;
	@include col($col-12, 0px);
	@include device-col($dw-640, $col-8, 0px);
	@include device-col($dw-960, $col-4, 30px);
}
.proposals-logo{
	margin: 20px 0 40px;
	text-align: center;
	color: #333;
	h3{
		@extend .article-logo;
		font-size: 24px;
		font-weight: normal;
		margin-top: 0;
	}
	p{
		font-weight: 700;
		font-size: 42px;
		margin: 12px 0;
		span{
			margin-top:16px;
			display: block;
			font-size: 16px;
		}
	}
}
.proposals-content{
	.view-more{
		width: 100%;
		display: block;
		text-align: center;
		background: transparent;
		color: #4493a7;
		border:1px solid #4493a7;
		margin: 24px 0;
		transition: color 0.2s 0.2s, border 0.2s 0.2s;
		&:hover{
			color:#f1715e;
			border-color: #f1715e;
		}
	}
	ul{
		display: flex;
		flex-direction: column;
		font-size: 16px;
		.avaliable{
			padding-left: 26px;
			margin-bottom: 12px;
			background: url('../img/avaliable.png') 0px -3px no-repeat;
		}
		.unavailable{
			@extend .avaliable;
			background: url('../img/unavaliable.png') 0px -1px no-repeat;
			
		}

	}
}
/****************action******************/
.actions{
	@extend .why-we;
	.article-logo{
		font-size: 30px;
		@media(min-width: $dw-560){
				font-size: 42px;
		}
	}
}
.step{
	display: flex;
	text-align: left;
	margin: 30px auto 0;

	@media(min-width: $dw-560){
		max-width:700px;
	}
	div{
		margin-left: 24px;
	}
	h3{
		margin: 1em 0;
		font-weight: 700;
		font-size:16px;
		@media(min-width: $dw-560){
			font-size:20px;
		}
	}
	p{
		@extend .article-text;
		font-size:14px;
		@media(min-width: $dw-560){
			font-size:18px;
		}
	}
}
/************contact**************/
.contact{
	background: #222;
	padding: 30px 0;
}
.contact-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (min-width: $dw-780){
			flex-direction:row;
		}
	form{
		@include grid($col-12, 0px);
		order: 1;
		text-align: left;
		@include device-grid($dw-560, $col-6, 20px);
		@media (min-width: $dw-780){
			order:0;
		}
		fieldset{
		   border:none;
		   display: inline-block;
		   padding: 0;
		   margin: 0 2% 16px 5%;
		   @include col($col-5, 3px)
		   &:nth-child(3){
				display:block;
				@include col($col-11, 12px)
				margin: 0 auto 16px;
		   }
		}
		.view-more{
			margin-left: 5%;
		}
	}
}
.contact-info{
	@include grid($col-12, 0px);
	@include device-grid($dw-560, $col-6, 20px);
	h3{
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		margin: 30px 0;
	}
	a{
		display: block;
		font-size: 28px;
		font-weight: lighter;
	}
	.social-link{
		margin: 30px 2px;
		display: inline-block;
		svg{
			width: 48px;
			height: 48px;
		}
	}
}
.forms-contact{padding: 0 22px;}

.form-labels label{
	cursor: pointer;
   color: #aaa;
   font-weight: bold;
   line-height: 1.4;
   text-transform: uppercase;
   font-size: 14px;
   display: block;
   margin-bottom: 8px;
}
.req{color: #E74C3C;}
.input-form input, .input-form textarea {
	width: 100%;
   background: #f3f2ed;
   border: 0;
   padding: 5px 10px;      
}
.input-form textarea {
	height: 72px;
}
.input-form input:focus, .input-form textarea:focus{
   background: #fff;
   border: 1px solid #989999;
   padding: 4px 8px;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/*******************FOOTER*****************/

footer{
	background: #111;
	text-align: center;
	color: #9d9d9d;
	padding: 24px 0 0;
	p{
		font-size: 15px;
		display: inline-block;
		margin-bottom: 24px;
	}
	svg{
		fill: #fff;
		transition: fill 0.1s 0.1s;
		&:hover{
			fill:#4493a7;
		}
	}
}
/**************remodal*********************/
.remodal{
	fieldset{
		margin: 0 auto;
		margin-top: 20px;
		input{
			width:90%;
			@media (min-width: $dw-560){
				width: 60%;
			}
		}
		textarea{
			width: 90%;
			@media (min-width: $dw-560){
				width: 60%;
			}
		}
	}
	button{
		margin:20px 10px;
	}
}